.green {
  .bdownloads {
    a {
      color: $black !important;

      &:hover {
        background: transparent !important;
        color: $green !important;
      }
    }
  }
  .uk-tab > .uk-active > a {
    border-color: $green;
  }
  .uk-text-meta {
    color: $green;
  }
  .download .uk-card-secondary {
    a {
      color: $black !important;

      &:hover {
        background: transparent !important;
        color: $green !important;
      }
    }

    ul {
      svg {
        color: $green;
      }
    }
  }
  .uk-section-default a {
    color: $green;
  }

  .social-share {
    margin-bottom: 40px;
    a {
      color: $black;
      font-weight: 700;
      text-decoration: none;
      line-height: 29px;

      &:hover {
        background: none !important;
        color: $green !important;
      }
    }
  }
  .uk-section-default .uk-button-default {
    background-color: $green;
    color: #fff;
    border: 2px solid $green;
  }
  .uk-card-blue {
    background: $blue !important;
    color: $white !important;
    h3 {
      color: $white !important;
    }
  
    a {
      color: $blue !important;
      background: #ffffff !important;
      text-decoration: none!important;
    }
    .uk-button-white {
      color: $blue !important;
      background: #ffffff !important;
      border: 2px solid $blue!important;
      &:hover{
        background: transparent!important;
      }
    }
  }
  .left-down ul svg {
    stroke-width: 2.5;
    margin-top: 1px;
    color: $green;
    height: 15px;
  }

  .uk-card-blue {
    background: $blue !important;
    color: $white !important;

    a,
    h3 {
      color: $white !important;
    }

    a {
      color: $white !important;
      text-decoration: underline !important;
    }
  }

  .uk-section-default a:hover {
    background: $green;
    color: #fff;
    text-decoration: none;
  }

  .download .uk-card-secondary {
    border: 1px solid $green;

    h3 {
      color: $green !important;
    }
  }

  .contact-card {
    border-bottom: 1px solid $green;
  }

  .uk-button-primary {
    background-color: $green;
    color: $white !important;
    border: 2px solid $green;

    &:hover {
      background-color: transparent !important;
      color: $green !important;
      border: 2px solid $green !important;
    }
  }

  .uk-article-meta {
    color: $green;
  }

  .v-adress:not(.uk-icon) {
    color: $green;
  }

  .uk-list-bullet > li::before {
    background-image: url("data:image/svg+xml,%3Csvg height='10' viewBox='0 0 6 6' width='12' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='3' cy='3' fill='%23438700' r='3'/%3E%3C/svg%3E");
  }

  .uk-card-primary {
    background: $green;
  }

  .uk-list-striped > li:nth-of-type(odd) {
    background: rgba(67, 135, 0, 0.05);
  }

  .uk-card-secondary h3 {
    color: $green;
  }
  .uk-breadcrumb {
    a {
      color: $black;
      &:hover {
        background: transparent !important;
        color: $green !important;
      }
    }
  }
  .switcher li.uk-active a {
    transition: all 0.3s ease-out;
    color: $green;
  }
  .anmelden .uk-button {
    border: solid 2px $green;
    color: $green;
    &:hover {
      background-color: transparent;
      border: solid 2px $white;
      color: $white;
    }
  }
  .uk-accordion.ac-content {
    a {
      border: solid 0.5px $green;

      &:hover {
        background: transparent;
      }
    }

    li.uk-open {
      .uk-accordion-content {
        border-left: solid 0.5px $green;
        border-right: solid 0.5px $green;
        border-bottom: solid 0.5px $green;

        .uk-button {
          border: 2px solid $green;
          color: $white;
        }

        a:not(.uk-button) {
          color: $green;
          &:hover {
            background: $green;
            color: $white;
          }
        }
      }
    }

    .uk-open > .uk-accordion-title::before {
      background-color: $green-medium;
      border: transparent;
      background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' style='fill:rgb(67,135,0)' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg' data-svg='minus'%3E%3Crect height='2' width='16' y='9' x='1'%3E%3C/rect%3E%3C/svg%3E");
    }

    .uk-accordion-title::before {
      background-color: $green-medium;
      border: transparent;
      background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' style='fill:rgb(67,135,0)' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg' data-svg='plus'%3E%3Crect x='9' y='1' width='1' height='17'%3E%3C/rect%3E%3Crect x='1' y='9' width='17' height='1'%3E%3C/rect%3E%3C/svg%3E");
    }

    .uk-accordion-title {
      color: $black;
    }
  }
  .uk-accordion.ac-content li.uk-open a:not(.uk-button) {
    text-decoration: none;
    border: solid 0.5px $green;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none !important;
  }
  .uk-accordion.ac-content li.uk-open .uk-accordion-content a:not(.uk-button) {
    border: none;
  }
}