.app-iframe {
  margin: 0 auto;
  max-width: 630px;
  min-width: 370px;
  min-height: 400px;
  padding: 15px;
}

.app-logo {
  display: block;
  height: 50px;
  margin: 0 auto 40px;
  text-align: center;

  img {
    height: 100%;
    width: auto;
  }
}
