@import "core";

:host {
  display: block;
  padding: 1rem;
}

.app-container {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  width: 100%;
}

mat-radio-group,
mat-radio-button {
  display: block;
}

.app-link {
  width: 100%;
}

.app-filter-label {
  font-size: 1rem;
}

.app-filter-value {
  color: $color-pale;
}

mat-icon {
  margin-right: rem(8);
}

.app-footer {
  align-items: center;
  background: var(--mdc-dialog-container-color, var(--mat-app-surface, white));
  display: flex;
  justify-content: center;
  flex: 0 0 rem(64);
  padding: rem(16) 0 0;
  z-index: 2;
}

h6 {
  background: var(--mdc-dialog-container-color, var(--mat-app-surface, white));
  position: sticky;
  padding: rem(10);
  top: 0;
  left: 0;
  z-index: 1;
  width: min(320px, calc(100vw - 5rem));
}

.app-single-tab-group {
  flex: 1 0 calc(100% - 64px);
}
