@if (filters$ | async) {
<form [formGroup]="this.form" (submit)="applyFilters()">
  <mat-radio-group formControlName="tiles">
    @for (item of tilesTypes; track $index) {
    <mat-radio-button [value]="item">{{ item | translate }}</mat-radio-button>
    }
  </mat-radio-group>
  @for (item of mapTypes; track $index) {
  <div>
    <h4>{{ item.title }}</h4>
    @for (option of item.options; track $index) {
    <mat-radio-button
      name="networkMeasurementType"
      [value]="option.map_options"
      [checked]="
        this.form.controls.networkMeasurementType.value == option.map_options
      "
      (change)="changeNetworkMeasurementType(option.map_options)"
      >{{ option.title }}</mat-radio-button
    >
    }
  </div>
  }
  <div formGroupName="filters">
    <mat-radio-group
      *ngIf="statisticalOptions.length"
      formControlName="statistical_method"
    >
      @for (item of statisticalOptions; track $index) {
      <mat-radio-button [value]="item.statistical_method">{{
        item.title
      }}</mat-radio-button>
      }
    </mat-radio-group>
    <mat-radio-group *ngIf="providerOptions.length" formControlName="provider">
      @for (item of providerOptions; track $index) {
      <mat-radio-button [value]="item.provider">{{
        item.title
      }}</mat-radio-button>
      }
    </mat-radio-group>
    <mat-radio-group *ngIf="operatorOptions.length" formControlName="operator">
      @for (item of operatorOptions; track $index) {
      <mat-radio-button [value]="item.operator">{{
        item.title
      }}</mat-radio-button>
      }
    </mat-radio-group>
    <mat-radio-group *ngIf="periodOptions.length" formControlName="period">
      @for (item of periodOptions; track $index) {
      <mat-radio-button [value]="item.period">{{
        item.title
      }}</mat-radio-button>
      }
    </mat-radio-group>
    <mat-radio-group
      *ngIf="technologyOptions.length"
      formControlName="technology"
    >
      @for (item of technologyOptions; track $index) {
      <mat-radio-button [value]="item.technology">{{
        item.title
      }}</mat-radio-button>
      }
    </mat-radio-group>
  </div>
  <button mat-flat-button class="app-button">{{ "Apply" | translate }}</button>
</form>
}
