<footer class="app-container">
  <div class="app-wrapper">
    <section>
      <p style="margin-top: 0">
        <strong>{{
          "RUNDFUNK UND TELEKOM REGULIERUNGS-GMBH" | translate | uppercase
        }}</strong>
      </p>
      <p>
        {{ "A-1060 Wien, Mariahilfer Straße 77-79" | translate }}<br />
        <a [href]="'Tel.: +43 1 58058-0' | translate | tel">{{
          "Tel.: +43 1 58058-0" | translate
        }}</a
        ><br />
      </p>
      <p style="margin-left: -8px">
        <a
          [href]="
            'mailto:netztest@rtr.at?subject=Supportanfrage%20RTR-Netztest%20%28Web%29'
              | translate
          "
          mat-icon-button
          class="app-icon-button"
        >
          <img src="/assets/images/btn-mail.svg" alt="Email" />
        </a>
        <a
          [href]="'https://www.github.com/rtr-nettest/' | translate"
          mat-icon-button
          class="app-icon-button"
          target="_blank"
        >
          <img src="/assets/images/btn-github.svg" alt="Github" />
        </a>
      </p>
    </section>
    <nav>
      <ul class="app-list">
        @for (item of menu$ | async; track $index) {
        <li class="app-li">
          <a [href]="item.url" target="_blank">{{ item.label! | translate }}</a>
        </li>
        }
      </ul>
    </nav>
  </div>
</footer>
