@if (colorStops(); as colorStops) {
<div class="app-container">
  <h4>{{ "Map key" | translate }}</h4>
  <div class="app-container-bar" [style.background]="colorStops"></div>
  <div class="app-container" style="display: flex">
    <ul class="app-container-captions">
      @for (item of captions; track $index) {
      <li class="app-li">{{ item }}</li>
      }
    </ul>
    @if (unit(); as unit) {
    <p class="app-container-units">{{ unit }}</p>
    }
  </div>
  <p
    [innerHTML]="
      'Sources: RTR, basemap.at, ArcData, Statistik Austria, BEV 2012'
        | translate
    "
  ></p>
</div>
}
