@import "core";

:host {
  display: block;
}

.app-container {
  width: 100%;

  &-bar {
    border-radius: rem(3);
    height: rem(20);
    width: 80%;
  }

  &-captions {
    display: flex;
    justify-content: space-between;
    left: 1%;
    list-style: none;
    margin-top: rem(10);
    width: 80%;
    position: relative;
  }

  &-units {
    margin-left: rem(32);
    margin-top: rem(10);
    margin-bottom: 0;
  }
}
