@import "core";

.app-row {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 2rem;

  @include screen-xs {
    flex-direction: column;
  }
}

.app-col {
  align-items: center;
  display: flex;
  flex: 1;

  &--third {
    flex: 0 0 40%;
  }

  &--two-thirds {
    flex: 0 0 80%;
  }

  @include screen-xs {
    width: 100%;
    justify-content: space-between;
    margin-top: 1rem;

    &:first-of-type {
      margin-bottom: 0.5rem;
      * {
        font-weight: bold;
      }
    }
  }
}

.app-footer {
  margin: 2rem 0;

  .app-button {
    &:first-of-type {
      margin-right: 1rem;
    }
  }
}

.app-field {
  width: calc(100% - 100px);

  &--half {
    margin-left: 38px;
    width: calc(50% - 128px);
  }

  @include screen-xs {
    margin-left: 0;
    width: 100%;
  }

  &-prefix,
  &-suffix {
    width: 30px;
  }

  &-prefix {
    margin-right: 8px;
    text-align: right;
  }
  &-suffix {
    margin-left: 8px;
  }

  @include screen-xs {
    &-prefix,
    &-suffix {
      position: relative;
      flex: 0 0 30px;
    }
  }
}
