@if (form) {
<div class="app-container">
  <form [formGroup]="form" (ngSubmit)="applyFilters()">
    @for (key of formControlKeys; track $index) { @if (visibleFields().has(key))
    { @if (ranges.has(key)) {
    <div class="app-row">
      <div class="app-col">
        <label class="app-label">{{ key | translate }}</label>
      </div>
      <div class="app-col app-col--third">
        <span class="app-field-prefix">{{ "from_value" | translate }}</span>
        <mat-form-field
          class="app-field app-field--number"
          appearance="outline"
          subscriptSizing="dynamic"
        >
          <input
            matInput
            [min]="ranges.get(key)!.min"
            type="number"
            formControlName="{{ ranges.get(key)!.from }}"
          />
        </mat-form-field>
        <span class="app-field-suffix">{{
          ranges.get(key)!.unit | translate
        }}</span>
      </div>
      <div class="app-col app-col--third">
        <span class="app-field-prefix">{{ "to_value" | translate }}</span>
        <mat-form-field
          class="app-field app-field--number"
          appearance="outline"
          subscriptSizing="dynamic"
        >
          <input
            matInput
            [min]="ranges.get(key)!.min"
            type="number"
            formControlName="{{ ranges.get(key)!.to }}"
            size="4"
        /></mat-form-field>
        <span class="app-field-suffix">{{
          ranges.get(key)!.unit | translate
        }}</span>
      </div>
    </div>
    } @else if (selects.has(key)) {
    <div class="app-row">
      <div class="app-col">
        <label class="app-label">{{ key | translate }}</label>
      </div>
      <div class="app-col app-col--two-thirds">
        <span class="app-field-prefix"></span>
        <mat-select
          class="app-field app-field--half app-select"
          [formControlName]="key"
          canSelectNullableOptions="true"
        >
          <mat-option [value]="null"> --{{ "all" | translate }}-- </mat-option>
          <mat-option
            *ngFor="let option of selects.get(key)"
            [value]="option[1]"
          >
            {{ option[0].toString() | translate }}
          </mat-option>
        </mat-select>
      </div>
    </div>
    } @else if (!key.endsWith("_to") && !key.includes("time")) {
    <div class="app-row">
      <div class="app-col">
        <label class="app-label">{{ key | translate }}</label>
      </div>
      <div class="app-col app-col--two-thirds">
        <span class="app-field-prefix"></span>
        <mat-form-field
          class="app-field app-field--half"
          appearance="outline"
          subscriptSizing="dynamic"
        >
          <input matInput type="text" formControlName="{{ key }}" size="4" />
        </mat-form-field>
      </div>
    </div>
    } @else if(key === "timespan_unit") {
    <div class="app-row">
      <div class="app-col">
        <label class="app-label">{{ "Timespan" | translate }}</label>
      </div>
      <div class="app-col app-col--third">
        <span class="app-field-prefix"></span>
        <mat-form-field
          class="app-field app-field--timespan"
          appearance="outline"
          subscriptSizing="dynamic"
        >
          <input
            matInput
            type="number"
            formControlName="timespan"
            min="0"
            max="366"
          />
        </mat-form-field>
        <mat-select class="app-field app-select" [formControlName]="key">
          @for (options of timeUnits; track $index) {
          <mat-option [value]="options[1]">
            {{ options[0] | translate }}</mat-option
          >
          }
        </mat-select>
      </div>
      <div class="app-col app-col--third"></div>
    </div>
    } } }
    <div class="app-footer">
      <div class="app-row" style="justify-content: center">
        <a
          *ngIf="!allFieldsAreVisible()"
          mat-button
          class="app-button"
          (click)="showAllFields()"
        >
          {{ "Further filters" | translate }}
        </a>
      </div>
      <div class="app-row" style="flex-direction: row">
        <button
          mat-flat-button
          class="app-button app-button--primary"
          type="submit"
          [disabled]="form.invalid"
        >
          {{ "Apply filters" | translate }}
        </button>
        <button
          mat-stroked-button
          class="app-button app-button--primary"
          type="reset"
        >
          {{ "Reset" | translate }}
        </button>
      </div>
    </div>
  </form>
</div>
}
