@import "core";

.app-row {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 2rem;

  @include screen-xs {
    flex-direction: column;
  }
}

.app-col {
  align-items: center;
  display: flex;
  flex: 1;

  &--third {
    flex: 0 0 40%;
  }

  &--two-thirds {
    flex: 0 0 80%;
  }

  @include screen-xs {
    width: 100%;
    justify-content: space-between;
    margin-top: 1rem;

    &:first-of-type {
      margin-bottom: 0.5rem;
      * {
        font-weight: bold;
      }
    }
  }
}

.app-footer {
  margin: 2rem 0;

  .app-button {
    &:first-of-type {
      margin-right: 1rem;
    }
  }
}

.app-field {
  width: calc(100% - 100px);

  &--half {
    width: calc(50% - 100px);

    &.app-select {
      width: calc(50% - 128px);

      @include screen-xs {
        width: 100%;
      }
    }
  }

  @include screen-xs {
    width: 100%;
  }

  &--timespan {
    flex: 0 0 100px;

    & + .app-select {
      flex: 0 0 calc(100% - 242px);
      margin-left: 16px;
    }

    @include screen-xs {
      flex: 1;
    }
  }

  &-prefix,
  &-suffix {
    flex: 0 0 30px;
  }

  &-prefix {
    margin-right: 8px;
    text-align: right;
  }
  &-suffix {
    margin-left: 8px;
  }

  @include screen-xs {
    &-prefix,
    &-suffix {
      &:empty {
        display: none;
      }
    }
  }
}

.app-footer {
  .app-row {
    justify-content: flex-start;
  }
}
