<header class="app-container" aria-label="{{ 'RTR-Nettest' | translate }}">
  <div class="app-wrapper">
    <a [href]="'/' + activeLang" class="app-logo">
      <img
        src="/assets/images/logo-header.svg"
        alt="{{ 'RTR-Nettest' | translate }}"
      />
    </a>
    <nav class="app-main-nav" aria-label="{{ 'Main navigation' | translate }}">
      <ul class="app-list">
        @for (item of mainItems$ | async; track $index) {
        <li>
          @if (item.route) {
          <a
            [routerLink]="item.route"
            mat-button
            class="app-link app-link--dark"
            >{{ item.label }}</a
          >
          } @else {
          <a
            class="app-link app-link--dark"
            tabIndex="0"
            id="submenuTrigger"
            (click)="toggleSubmenu($event)"
            [attr.aria-expanded]="submenuOpen"
            [attr.aria-controls]="'submenu'"
            role="button"
            mat-button
            >{{ item.label
            }}<mat-icon iconPositionEnd>{{
              submenuOpen ? "keyboard_arrow_up" : "keyboard_arrow_down"
            }}</mat-icon></a
          >
          }
        </li>
        }
      </ul>
      @if (startButton(); as btn) {
      <a
        [routerLink]="btn.route"
        mat-stroked-button
        class="app-button app-button--bold"
        [tabIndex]="submenuOpen ? -1 : 0"
        >{{ btn.label | translate }}</a
      >
      }
    </nav>
    <nav class="app-mobile-nav">
      <button
        id="mobileSubmenuTrigger"
        mat-icon-button
        (click)="toggleMobileSubmenu($event)"
        [attr.aria-expanded]="mobileSubmenuOpen"
        [attr.aria-controls]="'mobileSubmenu'"
      >
        <mat-icon>menu</mat-icon>
      </button>
    </nav>
  </div>
</header>

<div
  [@expandVertically]="submenuOpen"
  id="submenu"
  class="app-header-menu app-header-menu--primary app-dropdown"
>
  <div class="app-wrapper">
    <nav class="app-sub-nav">
      <ul class="app-list">
        @if (subItems$ | async; as subItems){ @for (item of subItems; track
        $index) {
        <li class="app-li">
          @if(item.route) {
          <a
            class="app-link"
            [routerLink]="item.route"
            (keydown.tab)="$index == subItems.length - 1 ? hideSubmenu() : null"
            [tabIndex]="submenuOpen ? 0 : -1"
            >{{ item.label }}</a
          >
          } @else {
          <a
            class="app-link"
            [href]="item.url"
            target="_blank"
            (keydown.tab)="$index == subItems.length - 1 ? hideSubmenu() : null"
            [tabIndex]="submenuOpen ? 0 : -1"
            >{{ item.label }}</a
          >
          }
        </li>
        } }
      </ul>
    </nav>
  </div>
</div>

<nav
  [@expandVertically]="mobileSubmenuOpen"
  id="mobileSubmenu"
  class="app-header-menu app-header-menu--primary app-header-menu--mobile"
  aria-label="{{ 'Menu' | translate }}"
>
  <ul class="app-list">
    @for (item of mainItems$ | async; track $index) {
    <li class="app-row">
      @if (item.route) {
      <a
        [routerLink]="item.route"
        mat-button
        class="app-link"
        [tabIndex]="mobileSubmenuOpen ? 0 : -1"
        >{{ item.label }}</a
      >
      } @else {
      <a class="app-link" mat-button [tabIndex]="mobileSubmenuOpen ? 0 : -1"
        >{{ item.label
        }}<mat-icon [@arrowRotate]="mobileSubmenuOpen" iconPositionEnd
          >keyboard_arrow_down</mat-icon
        ></a
      >
      <ul
        [@expandToFixedHeight]="{
          value: mobileSubmenuOpen,
          params: {
            finalHeight: 200
          }
        }"
        class="app-list app-list--expandable"
      >
        @for (item of subItems$ | async; track $index) {
        <li class="app-li">
          @if(item.route) {
          <a
            class="app-link"
            [routerLink]="item.route"
            [tabIndex]="mobileSubmenuOpen ? 0 : -1"
            >{{ item.label }}</a
          >
          } @else {
          <a
            class="app-link"
            [href]="item.url"
            target="_blank"
            [tabIndex]="mobileSubmenuOpen ? 0 : -1"
            >{{ item.label }}</a
          >
          }
        </li>
        }
      </ul>
      }
    </li>
    } @if (startButton(); as btn) {
    <li class="app-row">
      <a
        class="app-link"
        mat-button
        [routerLink]="btn.route"
        [tabIndex]="mobileSubmenuOpen ? 0 : -1"
        >{{ btn.label }}</a
      >
    </li>
    }
    <li class="app-social">
      <a
        [href]="
          'mailto:netztest@rtr.at?subject=Supportanfrage%20RTR-Netztest%20%28Web%29'
            | translate
        "
        mat-icon-button
        class="app-icon-button"
        (keydown.tab)="hideSubmenu()"
        [tabIndex]="mobileSubmenuOpen ? 0 : -1"
      >
        <img src="/assets/images/mailto.svg" alt="{{ 'Email' | translate }}" />
      </a>
    </li>
  </ul>
</nav>
