@import "core";

:host {
  width: 100%;
}

.app-logo {
  height: rem(48);
  width: auto;

  img {
    object-fit: contain;
  }
}

.app-container {
  border-bottom: 1px solid #c2c2c2;
  display: flex;
  justify-content: center;
  height: rem(70);
  width: 100%;
}

.app-wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.app-main-nav {
  align-items: center;
  display: flex;

  @include screen-xs {
    display: none;
  }
}

.app-mobile-nav {
  display: none;
  @include screen-xs {
    display: block;
  }
}

.app-list {
  display: flex;
  overflow: hidden;

  &--expandable {
    margin-bottom: 0;
    margin-top: 0;
  }
}

.app-button {
  border-width: 2px;
  font-size: rem(14);
  height: rem(48);
}

.app-link {
  height: rem(70);

  &::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    bottom: 0;
    height: 4px;
    background-color: rgba(0, 0, 0, 0);
    transition: 0.25s ease-in-out;
    transition-property: all;
    transition-property: background-color, border-color, box-shadow, height,
      right;
    left: 12px;
    right: calc(102% - 12px);
  }

  &[aria-expanded="true"]::before,
  &:hover::before,
  &:focus::before {
    right: 12px;
    background-color: #2f5f00;
    height: 4px;
  }
}

.app-row {
  border-bottom: solid 0.3px rgba(255, 255, 255, 0.3);

  & > .app-link {
    padding-left: 0;
    padding-right: 0;
    justify-content: start;
    width: 100%;
  }
}

.app-social {
  margin-top: rem(50);
  margin-bottom: rem(30);
}

.app-icon-button {
  display: inline-flex;
  border: 1px solid white;

  &:last-child:not(:only-child) {
    margin-left: rem(16);
  }
}

.app-dropdown {
  transform: scaleY(0);
  @include screen-xs {
    display: none;
  }
}
