<app-header></app-header>
<app-top-nav></app-top-nav>
<app-breadcrumbs></app-breadcrumbs>
<app-scroll-top></app-scroll-top>
<div class="app-wrapper">
  <h2>{{ "Client-UUID" | translate }}</h2>
  <p>{{ "Your UUID is: %0" | translate | sprintf : uuid() }}</p>
  <p>{{ "E-Mail: netztest@rtr.at" | translate }}</p>
  <h2>{{ "Options" | translate }}</h2>
  <h3>{{ "IP-Version" | translate }}</h3>
  <p>
    {{
      "If your internet access supports both IPv4 and IPv6, you can choose which protocol version is used for conducting the test."
        | translate
    }}
  </p>
  @if (form) {
  <form [formGroup]="form" (ngSubmit)="submit()">
    <mat-radio-group formControlName="ipVersion">
      @for (item of ipVersionOptions; track $index) {
      <div>
        <mat-radio-button
          class="app-option"
          [value]="item.value"
          [disabled]="disabledIpVersions().includes(item.value)"
          >{{ item.label | translate }}</mat-radio-button
        >
      </div>
      }
    </mat-radio-group>
    <p style="margin-top: 2rem">
      <button
        mat-flat-button
        class="app-button"
        color="primary"
        type="submit"
        [disabled]="form.invalid"
      >
        {{ "Save" | translate }}
      </button>
    </p>
  </form>
  } @else if (error()) {
  <p>{{ error() | translate }}</p>
  } @else {
  <p>{{ "Loading the form..." | translate }}</p>
  }
</div>
<app-footer></app-footer>
