@if (form) {
<div class="app-row">
  <div class="app-col">
    <label class="app-label" [for]="key">{{ key | translate }}</label>
  </div>
  <div class="app-col app-col--two-thirds">
    <span class="app-field-prefix"></span>
    <mat-form-field
      class="app-field app-field--half"
      appearance="outline"
      subscriptSizing="dynamic"
    >
      <input
        [id]="key"
        matInput
        type="text"
        [formControl]="getFormControl(key)"
      />
    </mat-form-field>
  </div>
</div>
}
