<mat-dialog-content>
  <app-close-dialog-header [dialogRef]="dialogRef"></app-close-dialog-header>
  <div class="app-container">
    <div>
      <form [formGroup]="form" class="app-form">
        <mat-radio-group formControlName="basemap">
          @for (option of options; track $index) {
          <mat-radio-button [value]="option.value">{{
            option.label
          }}</mat-radio-button>
          }
        </mat-radio-group>
      </form>
    </div>
    <footer class="app-footer">
      <button (click)="close()" mat-flat-button class="app-button">
        {{ "Close" | translate }}
      </button>
    </footer>
  </div>
</mat-dialog-content>
