<app-header></app-header>
<app-top-nav></app-top-nav>
<app-breadcrumbs></app-breadcrumbs>
<div class="app-wrapper" [innerHTML]="text$ | async"></div>
<div class="app-wrapper">
  <div class="app-row">
    <div class="app-col">
      <div class="app-col app-col--padded">
        <app-card-button
          iconImage="/assets/images/start-button-icon.svg"
          smallText="Start Test"
          title="Start RTR-NetTest"
          [primary]="true"
          [routerLink]="eRoutes.TEST"
        ></app-card-button>
      </div>
      <div class="app-col app-col--padded">
        <app-card-button
          iconImage="/assets/images/loop-button-icon.svg"
          smallText="Conduct Repeated Measurements"
          title="Loop mode"
          [routerLink]="eRoutes.LOOP"
        ></app-card-button>
      </div>
    </div>
    <div class="app-col app-col--padded"></div>
  </div>
</div>
<app-footer></app-footer>
