@import "core";

.app-row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 rem(-12);
}

.app-col {
  display: flex;
  flex: 1 0 50%;
  flex-wrap: wrap;

  &--padded {
    padding: rem(12);
  }

  app-card-button {
    width: 100%;
  }

  @include screen-sm {
    & > .app-col {
      flex: 0 0 100%;
    }
  }

  &--main {
    @include screen-xs {
      flex: 0 0 100%;
    }
  }
}
