<app-header></app-header>
<app-top-nav></app-top-nav>
<app-breadcrumbs></app-breadcrumbs>
<div class="app-wrapper" style="margin-bottom: 40px">
  <h1 class="app-title">{{ "Open data" | translate }}</h1>
  @if (filters$ | async; as filters) {
  <div class="app-expansion-panel">
    <app-expansion-panel
      [title]="('Advanced search' | translate) + filterCount()"
    >
      <app-filters></app-filters>
    </app-expansion-panel>
  </div>
  <app-table
    [data]="(data$ | async)!"
    [columns]="columns"
    [sort]="sort"
  ></app-table>
  }
</div>
<app-footer></app-footer>

@if (loading()) {
<app-loading-overlay></app-loading-overlay>
}
