@import "core";

.app-expansion-panel {
  margin-bottom: rem(20);

  &__row {
    height: rem(200);
  }
}

.app-header {
  align-items: center;
  display: flex;
  justify-content: space-between;

  .app-title {
    margin-left: 0;
  }
}

.app-counter {
  margin-top: 40px;
}
