<app-header></app-header>
<app-top-nav></app-top-nav>
<app-breadcrumbs></app-breadcrumbs>
<div class="app-wrapper" [innerHTML]="text$ | async"></div>
<div class="app-wrapper" style="padding-bottom: 80px">
  @if (map) {
  <app-search [map]="map"></app-search>
  }
  <div class="app-row" [id]="mapContainerId">
    <div class="app-map" [id]="mapId"></div>
  </div>
  @if (activeLayer && mapInfo) {
  <app-heatmap-legend
    [activeLayer]="activeLayer"
    [mapInfo]="mapInfo"
  ></app-heatmap-legend>
  }
</div>
<app-footer></app-footer>
