.app-form-text {
  font-size: 1rem;
}

.app-list {
  margin-top: 40px;
}

.app-li {
  color: #545454;
  display: inline-block;
  &:not(:last-of-type)::after {
    content: "·";
    display: inline-block;
    margin-left: 4px;
    margin-right: 4px;
  }
}

.app-link {
  color: #545454;
}
