@if (form$ | async; as form) {
<div class="app-container">
  <form [formGroup]="form">
    <div class="app-row">
      @if (form.controls.type.value === 'mobile') {
      <button class="app-button" (click)="changeType('mobile')" mat-flat-button>
        {{ "Mobile" | translate }}
      </button>
      } @else {<button
        class="app-button"
        (click)="changeType('mobile')"
        mat-stroked-button
      >
        {{ "Mobile" | translate }}</button
      >} @if (form.controls.type.value === 'wifi') {
      <button class="app-button" (click)="changeType('wifi')" mat-flat-button>
        {{ "Wlan App" | translate }}
      </button>
      } @else {<button
        class="app-button"
        (click)="changeType('wifi')"
        mat-stroked-button
      >
        {{ "Wlan App" | translate }}</button
      >} @if (form.controls.type.value === 'browser') {
      <button
        class="app-button"
        (click)="changeType('browser')"
        mat-flat-button
      >
        {{ "Browser" | translate }}
      </button>
      } @else {<button
        class="app-button"
        (click)="changeType('browser')"
        mat-stroked-button
      >
        {{ "Browser" | translate }}</button
      >}
    </div>
    <div class="app-row">
      <label class="app-label">{{ "Providers from" | translate }}</label>
      <mat-select
        class="app-select"
        formControlName="country"
        panelWidth=""
        style="margin-right: 8px"
      >
        @for (item of countries; track $index) {
        <mat-option class="app-option" [value]="item[0]">{{
          item[1] | translate
        }}</mat-option>
        }
      </mat-select>
      @if (form.controls.country.value === 'AT') {
      <mat-select class="app-select" formControlName="province" panelWidth="">
        <mat-option class="app-option" [value]="0">{{
          "All provinces" | translate
        }}</mat-option>
        @for (item of provinces; track $index) {
        <mat-option class="app-option" [value]="$index + 1">{{
          item[1] | translate
        }}</mat-option>
        }
      </mat-select>
      }
      <label class="app-label" style="margin-left: 24px">{{
        "Time span" | translate
      }}</label>
      <mat-select class="app-select" formControlName="duration" panelWidth="">
        @for (item of durationOptions; track $index) {
        <mat-option class="app-option" [value]="item[0]">{{
          item[1] | translate
        }}</mat-option>
        }
      </mat-select>
    </div>
  </form>
</div>
}
