<div class="app-dialog">
  <p [innerHTML]="text | translate"></p>
  <footer class="app-footer">
    @if (canCancel) {
    <button mat-button color="primary" (click)="close()">
      {{ cancelButtonText | translate }}
    </button>
    <button mat-flat-button type="submit" color="primary" (click)="close(true)">
      {{ proceedButtonText | translate }}
    </button>
    } @else {
    <button mat-button color="primary" (click)="close(true)">
      {{ okButtonText | translate }}
    </button>
    }
  </footer>
</div>
