<app-header></app-header>
<app-top-nav></app-top-nav>
<app-breadcrumbs [currentRoute]="currentRoute"></app-breadcrumbs>
@if (breadcrumbs() != null) {
<app-certified-breadcrumbs
  [breadcrumbs]="breadcrumbs()!"
></app-certified-breadcrumbs>
} @defer { @if(visualization$ | async; as visualization) {
<ng-container *ngTemplateOutlet="loopHeader"></ng-container>
<div class="app-wrapper">
  @if (disableGraphics()) {
  <div style="margin-bottom: 40px">
    <app-iframe-test
      [estimatedEndTime]="estimatedEndTime()"
      [showFooter]="false"
      [isWaitingForNextTest]="loopWaiting()"
      [waitingProgress]="progress()"
      [waitingProgressMs]="progressMs()"
    >
    </app-iframe-test>
  </div>
  } @else {
  <div class="app-main">
    <div class="app-progress-bar-wrapper">
      @if (loopWaiting() !== true) {
      <app-gauge></app-gauge>
      } @else { @if (progressMode(); as progressMode) {
      <div
        style="
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-bottom: 40px;
          padding-right: 4rem;
        "
      >
        <div style="width: 100%">
          @if (progressMode === 'determinate') {
          <h4 class="app-title">
            {{
              ("Next measurement in" | translate) + " " + progressFormatted()
            }}
          </h4>
          }
          <mat-progress-bar
            class="app-progress-bar--loop"
            [mode]="progressMode"
            [value]="progress()"
          ></mat-progress-bar>
        </div>
      </div>
      } }
    </div>
    <app-spacer></app-spacer>
    <app-interim-results
      [estimatedEndTime]="estimatedEndTime()"
    ></app-interim-results>
  </div>
  }
</div>
@if ((isLoopModeEnabled$ | async) === true) {
<div class="app-wrapper" style="margin-bottom: 40px">
  @if (result(); as result) {
  <app-recent-history
    [addMedian]="addMedian"
    [result]="result"
    [excludeColumns]="excludeColumns"
    [interruptsTests]="true"
    title="Recent measurements"
  ></app-recent-history>
  }
</div>
} } } @if (testStartDisabled()) {
<div class="app-wrapper">
  <h2 class="app-title" aria-live="polite">
    {{ "Measurement" | translate }}
  </h2>
  <h4 style="margin-bottom: 40px">
    {{
      "The measurement is not configured. Please fill the form and try again."
        | translate
    }}
  </h4>
</div>
}
<app-footer></app-footer>

<ng-template #loopHeader>
  @if ((isLoopModeEnabled$ | async) === true) { @if (loopCount$ | async; as
  loopCount) {
  <div class="app-wrapper">
    @if (loopWaiting() !== true) {
    <h2 class="app-title" aria-live="polite">
      {{ ("Measurement" | translate) + " " + loopCount + "/" + maxLoopCount() }}
    </h2>
    } @if (loopWaiting() === true) {
    <h2 class="app-title" aria-live="polite">
      {{
        "Result of measurement %0 - waiting"
          | translate
          | sprintf : loopCount + "/" + maxLoopCount()
      }}
    </h2>
    }
  </div>
  } }
</ng-template>
