@import "core";

.app-main {
  display: flex;
  justify-content: center;
  width: 100%;

  app-spacer {
    flex: 0 0 rem(10);
  }

  app-interim-results {
    max-width: $screen-xs;
    flex: 0 0 min($screen-xs, 45%);
  }

  .app-progress-bar-wrapper {
    flex: 0 0 calc(55% - 10rem);
    width: rem(235);
  }

  @include screen-xs {
    flex-direction: column;

    app-spacer {
      display: none;
    }

    app-interim-results,
    .app-progress-bar-wrapper {
      width: calc(100% - 56px);
    }

    app-interim-results {
      flex: 0 0 rem(400);
    }

    .app-progress-bar-wrapper {
      flex: 1;
      margin: rem(24) 0 rem(40);
    }
  }
}
