<app-header></app-header>
<app-top-nav></app-top-nav>
<app-breadcrumbs></app-breadcrumbs>
@defer { @if(visualization$ | async; as visualization) {
<ng-container *ngIf="(isLoopModeEnabled$ | async) === true">
  <div class="app-wrapper" *ngIf="loopCount$ | async as loopCount">
    <h2
      *ngIf="(loopWaiting$ | async) !== true"
      class="app-title"
      aria-live="polite"
    >
      {{ ("Measurement" | translate) + " " + loopCount }}
    </h2>
    <h2
      *ngIf="(loopWaiting$ | async) === true"
      class="app-title"
      aria-live="polite"
    >
      {{
        "Result of measurement %0 - waiting" | translate | sprintf : loopCount
      }}
    </h2>
  </div>
</ng-container>
<div class="app-wrapper">
  <div class="app-main">
    <div class="app-progress-bar-wrapper">
      <app-gauge
        *ngIf="(loopWaiting$ | async) !== true; else loopWaitProgressBar"
      ></app-gauge>
    </div>
    <app-spacer></app-spacer>
    <app-interim-results></app-interim-results>
  </div>
</div>
<div
  class="app-wrapper"
  *ngIf="(isLoopModeEnabled$ | async) === true"
  style="margin-bottom: 40px"
>
  <app-recent-history
    *ngIf="result$ | async as result"
    [addMedian]="addMedian"
    [result]="result"
    [excludeColumns]="excludeColumns"
    [interruptsTests]="true"
    title="Recent measurements"
  ></app-recent-history>
</div>
} @else { @if (mobileWarning(); as mobileWarning) {
<div class="app-wrapper" style="margin-bottom: 20px">
  <h1>{{ "Test" | translate }}</h1>
  <p id="mobileWarning" [innerHTML]="mobileWarning"></p>
</div>
} } }
<app-footer></app-footer>

<ng-template #loopWaitProgressBar>
  <div
    *ngIf="progressMode$ | async as progressMode"
    style="
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 40px;
      padding-right: 4rem;
    "
  >
    <div style="width: 100%">
      <ng-container *ngIf="progressMode === 'determinate'">
        <h4 class="app-title">
          {{
            ("Next measurement in" | translate) +
              " " +
              (ms$ | async | date : "mm:ss")
          }}
        </h4>
      </ng-container>
      <mat-progress-bar
        class="app-progress-bar--loop"
        [mode]="progressMode"
        [value]="progress$ | async"
      ></mat-progress-bar>
    </div>
  </div>
</ng-template>
