{% extends basetemplate %}
{% set title = Lang.admin %}

{% block headerscriptingExtended %}
<script>
    $(document).ready(function(){
        $.ajax({
            url: controlProxy + "/" + wspath + "/version",
            type: 'GET',
            dataType: 'json',
            success: function(data) {
                $("#controlserver_version").html(data.version);
            }});

        var json_data = {
            "type": test_type,
            "name": test_name
        };
        $.ajax({
            url: controlProxy + "/" + wspath + "/settings",
            type: "post",
            dataType: "json",
            contentType: "application/json",
            data: JSON.stringify(json_data),
            success: function (data) {
                URL_MAP_SERVER = data.settings[0].urls.url_map_server;

                $.ajax({
                    url: URL_MAP_SERVER + "/version",
                    type: 'GET',
                    dataType: 'json',
                    success: function(data) {
                        $("#mapserver_version").html(data.version);
                    }});
            }
        });



        $.ajax({
            url: statisticProxy + "/" + statisticpath + "/version",
            type: 'GET',
            dataType: 'json',
            success: function(data) {
                $("#statisticserver_version").html(data.version);
            }});
        
        
        $.ajax({
            url: statisticProxy + "/" + statisticpath + "/opentests/statistics",
            type: 'GET',
            dataType: 'json',
            success: function(data) {
                $("#usageStatistics li").each(function(i,elem) {
                    var id = $(elem).attr("id");
                    var duration = id.substr(5);
                    $(elem).prepend(data[duration].toLocaleString());
                })
            }});
    });
</script>
{% endblock %}

{% block content %}

<ul>
    <li><a href="Usage.html">Usage report</a></li>
    <li><a href="/RMBTStatisticServer/admin/usage">Statistic server usage report</a></li>
    <li><a href="/RMBTControlServer/admin/qosObjectives">QoS test defintions</a></li>
    <li><a href="setImplausible">Set tests implausible</a></li>
</ul>

<p>
    Control Server version: <span id="controlserver_version"></span><br/>
    Map Server version: <span id="mapserver_version"></span><br/>
    Statistic Server version: <span id="statisticserver_version"></span><br/>
    Website version: {{ gitDescribe }}<br />
</p>


<ul id="usageStatistics">
    <li id="usage30min"> tests in the last 30 min</li>
    <li id="usage60min"> tests in the last 60 min</li>
    <li id="usage12h"> tests in the last 12 h</li>
    <li id="usage24h"> tests in the last 24 h</li>
    <li id="usage7d"> tests in the last 7 days</li>
</ul>



{% endblock %}