@if (form) {
<div class="app-row">
  <div class="app-col">
    <label class="app-label" [for]="key">{{ key | translate }}</label>
  </div>
  <div class="app-col app-col--two-thirds">
    <span class="app-field-prefix"></span>
    <mat-select
      [id]="key"
      class="app-field app-field--half app-select"
      [formControl]="getFormControl(key)"
      canSelectNullableOptions="true"
    >
      <mat-option [value]="null"> --{{ "all" | translate }}-- </mat-option>
      @for (option of selects.get(key); track option) {
      <mat-option [value]="option[1]">
        {{ option[0].toString() | translate }}
      </mat-option>
      }
    </mat-select>
  </div>
</div>
}
