@if (form) {
<div class="app-row">
  <div class="app-col">
    <span class="app-label">{{ key | translate }}</span>
  </div>
  <div class="app-col app-col--two-thirds">
    <span class="app-field-prefix"></span>
    <mat-select
      [id]="key"
      class="app-field app-field--half app-select"
      [formControl]="getFormControl(key)"
      canSelectNullableOptions="true"
      [attr.aria-label]="key | translate"
    >
      <mat-option [value]="null"> --{{ "all" | translate }}-- </mat-option>
      <mat-option *ngFor="let option of selects.get(key)" [value]="option[1]">
        {{ option[0].toString() | translate }}
      </mat-option>
    </mat-select>
  </div>
</div>
}
