<div
  class="app-table app-table--default mat-table-wrap {{
    showUuids() ? 'app-table--show-uuids' : ''
  }}"
>
  <mat-table
    *ngIf="data"
    [dataSource]="data.content"
    multiTemplateDataRows
    [trackBy]="identify"
    (contentChanged)="onContentChange.emit()"
  >
    <ng-container
      *ngFor="let column of columns"
      matColumnDef="{{ column.columnDef }}"
    >
      <!-- MAT-HEADER-CELL -->
      <mat-header-cell *matHeaderCellDef>
        <div class="sah-table__cell--ellipsis">
          {{ column.header | translate }}
        </div>
      </mat-header-cell>
      <!-- END MAT-HEADER-CELL-->

      <ng-container *ngIf="column.getIconClass; else defaultCell">
        <mat-cell *matCellDef="let element; let i = dataIndex">
          <span class="app-table__mobile-label">{{ column.header }}</span>
          <div class="app-flex-wrapper">
            <i [ngClass]="column.getIconClass(element, column)"></i
            ><span
              >{{ getDefaultValue(column, element, i)
              }}<span
                *ngIf="column.columnDef === 'platform'"
                class="app-open-test-uuid"
                >, {{ element.open_test_uuid }}</span
              >
            </span>
          </div>
        </mat-cell>
      </ng-container>

      <ng-template #defaultCell>
        <mat-cell
          *matCellDef="let element; let i = dataIndex"
          [attr.data-value]="getDefaultValue(column, element, i)"
        >
          <span class="app-table__mobile-label">{{ column.header }}</span>
          <span [matTooltip]="column.getTooltip?.(element, column) ?? ''">
            {{ getDefaultValue(column, element, i) }}
          </span>
        </mat-cell>
      </ng-template>
      <!-- END MAT-CELL -->
    </ng-container>

    <mat-row
      *matRowDef="let row; columns: displayedColumns"
      tabindex="0"
      class="mat-row--clickable"
      (click)="onRowClickHandler($event, row)"
      (keydown.enter)="onRowClickHandler($event, row)"
      (focus)="select($event)"
      (mouseover)="select($event)"
      (blur)="unselect($event)"
      (mouseout)="unselect($event)"
    >
    </mat-row>

    <mat-header-row
      tabindex="0"
      *matHeaderRowDef="displayedColumns; sticky: true"
    ></mat-header-row>
  </mat-table>
</div>
