@if (form) {
<div class="app-row">
  <div class="app-col">
    <span class="app-label">{{ key | translate }}</span>
  </div>
  <div class="app-col app-col--third">
    <span class="app-field-prefix"></span>
    <mat-form-field
      class="app-field"
      appearance="outline"
      subscriptSizing="dynamic"
    >
      <input
        matInput
        [max]="maxDate()"
        [matDatepicker]="datepicker"
        [formControl]="getFormControl(key)"
        [attr.aria-label]="(key | translate) + ' ' + ('date' | translate)"
      />
      <mat-datepicker #datepicker />
      <mat-datepicker-toggle [for]="datepicker" matSuffix />
    </mat-form-field>
    <span class="app-field-suffix"></span>
  </div>
  <div class="app-col app-col--third">
    <span class="app-field-prefix"></span>
    <mat-form-field
      class="app-field"
      appearance="outline"
      subscriptSizing="dynamic"
    >
      <input
        matInput
        [max]="maxDate()"
        [matTimepicker]="timepicker"
        [(ngModel)]="time"
        [attr.aria-label]="(key | translate) + ' ' + ('time' | translate)"
      />
      <mat-timepicker #timepicker />
      <mat-timepicker-toggle [for]="timepicker" matSuffix />
    </mat-form-field>
    <span class="app-field-suffix"></span>
  </div>
</div>
}
