@import "core.scss";

$container-width: 100%;

h2 {
  font-size: rem($font-size-h3);
  margin: 0;
}

.app-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: rem(24);

  h1 {
    margin-left: 0;
  }

  .app-button {
    margin-left: rem(16);
    white-space: nowrap;
  }

  @include screen-xs {
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: rem(16);

    .app-button {
      flex: 0 0 rem(48);
      margin-bottom: rem(16);
      margin-left: 0;
      margin-top: rem(16);
    }
  }
}

.app-wrapper {
  margin-top: 0;
}

.app-charts-row,
.app-container {
  margin-bottom: rem(48);
}

@media print {
  .app-separator {
    height: rem(48);
  }

  .app-charts-row__base {
    page-break-inside: avoid;

    app-test-chart {
      transform: scale(0.8) translateX(-18%);
    }
  }
}
