@use "sass:math";
@import "core";

:host {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  position: relative;
}

.app-button {
  height: rem($font-size-h4 * 2.5);
  margin-left: 1ex;
  position: relative;
  width: rem($font-size-h4 * 2.5);

  &:disabled {
    & > * {
      opacity: 0.5;
    }
  }
}

.app-icon {
  height: rem($font-size-h4 * 1.5);
  width: rem($font-size-h4 * 1.5);
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
