<app-header></app-header>
<app-top-nav></app-top-nav>
<app-breadcrumbs></app-breadcrumbs>
<app-certified-breadcrumbs
  [breadcrumbs]="breadcrumbs()"
></app-certified-breadcrumbs>
<div class="app-wrapper" style="margin-top: 48px; margin-bottom: 64px">
  <h1 class="app-title">{{ "Certified measurement" | translate }}</h1>
  <h3 class="app-subtitle">
    {{ "Further information on the certified measurement" | translate }}
  </h3>
  <p>
    {{
      "Since this is the first measurement cycle, we ask you to answer the following questions"
        | translate
    }}
  </p>
  @if (form) {
  <form [formGroup]="form">
    <h4>
      {{ "Please describe the location of your Internet access" | translate
      }}<sup>*</sup>
    </h4>
    <ul>
      <li
        *ngFor="
          let control of form.controls.locationType.controls;
          let i = index
        "
      >
        <mat-checkbox [value]="locationValues[i]" [formControl]="control">{{
          locationNames[i] | translate
        }}</mat-checkbox>
      </li>
    </ul>
    <mat-form-field appearance="outline">
      <textarea
        matInput
        formControlName="locationTypeOther"
        name="locationTypeOther"
        [required]="
          !!form.controls.locationType.controls[locationValues.length - 1].value
        "
      ></textarea>
      <mat-error
        *ngIf="
          form.controls.locationType.controls[locationValues.length - 1]
            .value && !form.controls.locationTypeOther.value
        "
        >{{ "Location is required" | translate }}</mat-error
      >
    </mat-form-field>
    <h4>
      {{ "Please describe your Internet access" | translate }}
    </h4>
    <p>
      {{ "What kind of Internet access do you have?" | translate }}
    </p>
    <mat-form-field appearance="outline">
      <textarea matInput formControlName="typeText" name="typeText"></textarea>
    </mat-form-field>
    <h4>
      {{ "Please describe your device used for measuring" | translate }}
    </h4>
    <p>
      {{
        "Describe the computer that you are running the test with." | translate
      }}
    </p>
    <mat-form-field appearance="outline">
      <textarea
        matInput
        formControlName="testDevice"
        name="testDevice"
      ></textarea>
    </mat-form-field>
    <h4>
      {{ "Photo upload" | translate }}
    </h4>
    <p>
      {{ "Please send us a photo of the modem" | translate }}
    </p>
    <p
      *ngFor="let fileId of fileIds"
      style="
        align-items: center;
        display: flex;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      "
    >
      <input
        [id]="fileId"
        style="display: none"
        type="file"
        (change)="onFileSelected($event, fileId)"
      />
      <button mat-button (click)="onFileUploadClick(fileId)">
        <mat-icon>attach_file</mat-icon>{{ "Upload file" | translate }}
      </button>
      <span
        *ngIf="files[fileId]?.name"
        style="margin-left: 1em; margin-right: 1em"
        >{{ files[fileId].name }}</span
      >
      <button
        *ngIf="files[fileId]?.name"
        mat-icon-button
        (click)="onDeleteFile(fileId)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </p>
  </form>
  }
  <button
    style="margin-top: 16px"
    mat-flat-button
    class="app-button"
    (click)="onTestStart()"
    [disabled]="disabled()"
  >
    {{ "Start certified measurement" | translate }}
  </button>
</div>
<app-footer></app-footer>
