<header class="app-container app-container--primary">
  <nav class="app-wrapper">
    <ul class="app-list">
      <li>
        <button
          id="rtrSubmenuTrigger"
          mat-button
          class="app-button"
          (click)="toggleSubmenu($event, 'rtr')"
          style="padding-left: 0"
        >
          RTR
          <mat-icon iconPositionEnd>{{
            !rtrOpen ? "keyboard_arrow_down" : "keyboard_arrow_up"
          }}</mat-icon>
        </button>
        <button
          id="langSubmenuTrigger"
          mat-button
          class="app-button"
          (click)="toggleSubmenu($event, 'lang')"
          [tabIndex]="rtrOpen ? -1 : 0"
        >
          {{ activeLang }}
          <mat-icon iconPositionEnd>{{
            !langOpen ? "keyboard_arrow_down" : "keyboard_arrow_up"
          }}</mat-icon>
        </button>
      </li>
    </ul>
  </nav>
</header>

<div
  [@expandVertically]="rtrOpen"
  class="app-header-menu app-dropdown app-header-menu-backdrop"
>
  <nav class="app-wrapper">
    @if (rtrLinks$ | async; as subItems) {
    <ul class="app-list">
      @for (link of subItems; track $index) {
      <li>
        <a
          [href]="link.url"
          mat-button
          class="app-link app-link--dark"
          target="_blank"
          (blur)="$index == subItems.length - 1 ? hideSubmenu() : null"
          [tabIndex]="rtrOpen ? 0 : -1"
        >
          {{ link.label }}
        </a>
      </li>
      }
    </ul>
    }
  </nav>
</div>

<div
  [@expandVertically]="langOpen"
  class="app-header-menu app-dropdown app-header-menu-backdrop"
>
  <nav class="app-wrapper">
    <ul class="app-list">
      @for (locale of availableLocales; track $index) {
      <li>
        <button
          (click)="setLocale(locale)"
          mat-button
          class="app-link app-link--dark"
          (blur)="$index == availableLocales.length - 1 ? hideSubmenu() : null"
          [tabIndex]="langOpen ? 0 : -1"
        >
          {{ locale.name }}
        </button>
      </li>
      }
    </ul>
  </nav>
</div>
