<header class="app-container app-container--primary">
  <nav class="app-wrapper">
    <ul class="app-list">
      <li>
        <button
          mat-button
          class="app-button"
          [matMenuTriggerFor]="rtr"
          (menuOpened)="rtrOpen = true"
          style="padding-left: 0"
        >
          RTR
          <mat-icon iconPositionEnd>{{
            !rtrOpen ? "keyboard_arrow_down" : "keyboard_arrow_up"
          }}</mat-icon>
        </button>
        <button
          mat-button
          class="app-button"
          [matMenuTriggerFor]="lang"
          (menuOpened)="langOpen = true"
        >
          {{ activeLang }}
          <mat-icon iconPositionEnd>{{
            !langOpen ? "keyboard_arrow_down" : "keyboard_arrow_up"
          }}</mat-icon>
        </button>
      </li>
    </ul>
  </nav>
</header>

<mat-menu
  backdropClass="app-header-menu-backdrop"
  class="app-header-menu"
  #rtr
  (closed)="rtrOpen = false"
>
  <nav class="app-wrapper">
    <ul class="app-list">
      @for (link of rtrLinks$ | async; track $index) {
      <li>
        <a
          [href]="link.url"
          mat-button
          class="app-link app-link--dark"
          target="_blank"
        >
          {{ link.label }}
        </a>
      </li>
      }
    </ul>
  </nav>
</mat-menu>

<mat-menu
  backdropClass="app-header-menu-backdrop"
  class="app-header-menu"
  #lang
  (closed)="langOpen = false"
>
  <nav class="app-wrapper">
    <ul class="app-list">
      @for (locale of availableLocales; track $index) {
      <li>
        <button
          (click)="setLocale(locale)"
          mat-button
          class="app-link app-link--dark"
        >
          {{ locale.name }}
        </button>
      </li>
      }
    </ul>
  </nav></mat-menu
>
