.app-link {
  &--dark {
    color: $color-dark !important;

    &:hover {
      color: $color-link !important;
    }
  }

  &--sr-only {
    position: absolute;
    top: -3em;
    background: white;

    &:focus {
      top: 0;
    }
  }

  .mdc-button__ripple {
    display: none;
  }
}

app-header,
app-top-nav {
  .app-link {
    font-size: rem(14);
  }
}

button.app-link {
  background: none;
  border: none;
  color: $color-link;
  cursor: pointer;
}
