.app-icon {
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-flex;
  justify-content: center;
  height: rem(20);
  width: rem(20);
  flex: 0 0 rem(20);

  &--browser {
    background-image: url("/assets/images/browser.svg");
    margin-right: rem(8);
  }

  &--filetype-csv {
    background-image: url("/assets/images/filetype-csv-icon.svg");
  }

  &--filetype-pdf {
    background-image: url("/assets/images/filetype-pdf-icon.svg");
  }

  &--filetype-xlsx {
    background-image: url("/assets/images/filetype-xlsx-icon.svg");
  }

  &--marker {
    background-image: url("/assets/images/marker.svg");
    margin-right: rem(8);
  }

  &--phase {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    height: 20px;
    margin-right: 1ex;
    width: 20px;

    &-down {
      background-image: url("/assets/images/down-0.svg");

      &-red {
        background-image: url("/assets/images/down-1.svg");
      }

      &-yellow {
        background-image: url("/assets/images/down-2.svg");
      }

      &-green {
        background-image: url("/assets/images/down-3.svg");
      }

      &-deep-green {
        background-image: url("/assets/images/down-4.svg");
      }
    }

    &-up {
      background-image: url("/assets/images/up-0.svg");

      &-red {
        background-image: url("/assets/images/up-1.svg");
      }

      &-yellow {
        background-image: url("/assets/images/up-2.svg");
      }

      &-green {
        background-image: url("/assets/images/up-3.svg");
      }

      &-deep-green {
        background-image: url("/assets/images/up-4.svg");
      }
    }

    &-ping {
      background-image: url("/assets/images/ping-0.svg");

      &-red {
        background-image: url("/assets/images/ping-1.svg");
      }

      &-yellow {
        background-image: url("/assets/images/ping-2.svg");
      }

      &-green {
        background-image: url("/assets/images/ping-3.svg");
      }

      &-deep-green {
        background-image: url("/assets/images/ping-4.svg");
      }
    }
  }
}
