@import "core";

.app-wrapper {
  margin: auto;
  max-width: $screen-lg;
  padding: 0 rem(32);
  width: 100%;
}

.app-flex-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
}

.app-marker-cell:not(mat-header-cell) {
  align-items: center;
  display: inline-flex;
  height: rem(40);
}
