@import "core";

.app-wrapper {
  margin: auto;
  max-width: $screen-lg;
  padding: 0 rem(32);
  width: 100%;
}

.app-flex-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
}

.app-marker-cell {
  align-items: center;
  display: inline-flex;

  &:not(mat-header-cell) {
    height: rem(40);
  }
}

#mapContainer {
  .app-marker-cell {
    height: auto;
  }
}

.app-container {
  &--sr-only {
    position: absolute;
    top: -9999em;
    background: white;
  }
}
