.app-single-tab-group {
  max-width: none !important;
  width: 200%;

  .mat-mdc-tab-header {
    display: none;
  }

  .mat-mdc-tab-body-wrapper {
    display: block;
  }

  .mat-mdc-tab-body {
    float: left;
    width: 50%;

    &-content {
      overflow: hidden;
    }
  }
}

.app-wrapper {
  .app-form-field {
    min-height: 0;
    .mat-mdc-form-field-infix {
      z-index: 1;
    }
    .mat-mdc-notch-piece {
      background-color: white;
    }
    .mat-mdc-form-field-subscript-wrapper {
      display: none;
    }
  }
}

.app-geocoder {
  .mat-mdc-form-field-infix {
    align-items: center;
    display: inline-flex;
  }
}

.cdk-global-overlay-wrapper .app-coverage-dialog.mat-mdc-dialog-panel {
  max-width: calc(100vw - 80px);

  .app-wrapper {
    overflow-x: hidden;
    padding: 0;
  }
}

.cdk-global-overlay-wrapper {
  display: flex;
  position: absolute;
  z-index: 1000;
  overflow: auto;
  pointer-events: auto;
}
.mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
  top: 50% !important;
}

.app-textarea {
  .mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--outlined
    .mdc-notched-outline--upgraded
    .mdc-floating-label--float-above {
    top: 0 !important;
    transform: translate(0, -50%)
      scale(var(--mat-mdc-form-field-floating-label-scale, 0.75));
  }
}

.mat-mdc-form-field-infix {
  display: flex;
  align-items: center;
}

.app-wrapper {
  .app-option .mdc-label {
    font-size: 1rem;
  }
}

.app-failed-tests-toggle {
  .mat-internal-form-field {
    flex-direction: column;
    justify-content: center;

    button {
      transform: scale(0.8);
    }

    label {
      margin-right: 0;
    }
  }
}
