a {
  color: $color-link;
  text-decoration: underline;

  &:hover {
    text-decoration: underline;
  }
}

.app-link {
  &.mdc-button {
    text-decoration: none;
  }
  &--flexible {
    .mdc-button__label {
      align-items: center;
      display: flex;
      justify-content: space-between;
      width: 100%;

      * {
        display: flex;
        align-items: center;
      }
    }
  }
}
