h1,
.app-h1 {
  color: $color-dark;
  font-size: rem($font-size-h1);
  font-family: $base-font-family;
  font-weight: bold;
  line-height: 1;
  margin: rem(24) auto;

  &:first-child {
    margin-top: 0;
  }
}

h2,
.app-h2 {
  color: $color-dark;
  font-size: rem($font-size-h2);
  font-family: $base-font-family;
  font-weight: bold;
  line-height: $base-line-height;
  margin: rem(24) auto;

  &:first-child {
    margin-top: 0;
  }
}

h3,
.app-h3 {
  font-size: rem($font-size-h3);
  font-family: $base-font-family;
  font-weight: bold;
  line-height: $base-line-height;
  margin: rem(24) auto;

  &:first-child {
    margin-top: 0;
  }
}

h4,
.app-h4 {
  font-size: rem($font-size-h4);
  font-family: $base-font-family;
  font-weight: bold;
  line-height: $base-line-height;
  margin: rem(24) auto;

  &:first-child {
    margin-top: 0;
  }
}

h5,
.app-h5 {
  font-size: rem($font-size-h5);
  font-family: $base-font-family;
  font-weight: bold;
  line-height: $base-line-height;
  margin: rem(24) auto;

  &:first-child {
    margin-top: 0;
  }
}

h4 + h2,
.app-h4 + .app-h2 {
  margin-top: 0;
}

h4:has(+ h2),
.app-h4:has(+ .app-h2) {
  margin-bottom: rem(16);
}

.app-result-h1 {
  margin-left: 0;
  margin-bottom: rem(16);
  margin-top: rem(16);
}
