.app-button {
  &--bold {
    .mdc-button__label {
      font-weight: 700;
    }
  }
  &--li {
    border-radius: 0 !important;
    justify-content: flex-start !important;
    text-align: left;
    & > * {
      border-radius: 0 !important;
    }
  }
  &--outlined {
    background-color: white !important;
  }

  &--sr-only {
    position: absolute;
    top: -9999em;
    background: white;

    &:focus {
      top: 0;
    }
  }
}

.app-wrapper {
  .app-button {
    border-width: 2px;
    font-size: 1rem;
  }
}

.app-button,
.mdc-button {
  &:hover {
    text-decoration: none;
  }
}
