.app-header-menu {
  max-width: none !important;
  width: 100%;
  left: 0;
  position: absolute;
  z-index: 1000;

  &-backdrop + .cdk-overlay-connected-position-bounding-box {
    left: 0 !important;
    width: calc(100% - 16px) !important;
  }

  &-mobile-backdrop + .cdk-overlay-connected-position-bounding-box {
    left: 0 !important;
    width: calc(100% - 16px) !important;
    margin-top: rem(13);
  }

  .mat-mdc-menu-content {
    padding: 0;
  }

  .app-list {
    display: flex;

    .app-link {
      height: rem(69);
      font-size: rem(14);
      text-decoration: none;
    }
  }

  &--primary {
    background-color: $color-primary !important;
    border-radius: 0 !important;
    box-shadow: var(--mat-app-elevation-shadow-level-2);
    margin-top: -1px;
    overflow: hidden;

    .app-list {
      flex-direction: column;
      margin: rem(24) rem(24) rem(8);

      .app-li {
        margin-bottom: rem(16);
      }

      .app-link {
        color: white !important;

        &:hover,
        &:focus,
        &:active {
          font-weight: 700;
        }
      }
    }
  }

  &--mobile {
    transform-origin: right top !important;
  }

  .mat-mdc-button .mat-mdc-button-ripple {
    border-radius: 0;
  }
}

app-top-nav {
  .mat-mdc-button .mat-mdc-button-ripple {
    border-radius: 0;
  }
}
