.mdc-button:focus-visible,
.mdc-switch:focus-visible {
  outline: 0;
  & > .mat-focus-indicator,
  & > .mdc-switch__track {
    outline: solid 2px blue;
    outline-offset: 1px;
  }
}

.app-link:focus-visible:not(.mdc-button),
.mat-mdc-select:focus-visible,
.cdk-keyboard-focused .mat-focus-indicator {
  outline: solid 2px blue;
  outline-offset: 1px;
}

app-header,
app-top-nav {
  .mdc-button:focus-visible:not(.app-button--bold) {
    outline: 0;
    & > .mdc-button__label {
      outline: solid 2px blue;
      outline-offset: 1px;
    }
    & > .mat-focus-indicator {
      outline: 0;
    }
  }
}
