.app-header-menu {
  max-width: none !important;
  width: 100%;
  left: 0;
  right: 0;
  position: absolute;

  &-backdrop + .cdk-overlay-connected-position-bounding-box {
    left: 0 !important;
    width: 100% !important;
  }

  .mat-mdc-menu-content {
    padding: 0;
  }

  .app-list {
    display: flex;

    .app-link {
      height: rem(69);
      font-size: rem(14);
      text-decoration: none;
    }
  }

  &--primary {
    background-color: $color-primary !important;
    border-radius: 0 !important;
    top: -1px;

    .app-list {
      flex-direction: column;
      margin: rem(24) rem(24) rem(8);

      .app-li {
        margin-bottom: rem(16);
      }

      .app-link {
        color: white !important;

        &:hover,
        &:focus,
        &:active {
          font-weight: 700;
        }
      }
    }
  }
}
