/*------------------------------------
    # ELEMENT BODY
------------------------------------*/

body {
  height: 100%;
  position: relative;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
  line-height: $base-line-height;
}

/*------------------------------------
   # END ELEMENT BODY
------------------------------------*/
