<div class="app-geocoder">
  <mat-form-field appearance="outline">
    <mat-label>{{ "Search for an address or city" | translate }}</mat-label>
    <input
      matInput
      type="text"
      class="app-geocoder-input"
      [ngModel]="geocodeRequest"
      (ngModelChange)="this.geocodeRequestChanged.next($event)"
      (keyup.enter)="flyToCandidate()"
      />
  </mat-form-field>
  @if (geocodeResponse) {
    <div class="app-suggestions-wrapper">
      <ul class="app-geocoder-suggestions">
        @if (!geocodeResponse?.length) {
          <li>
            <div class="app-geocoder--error app-geocoder--no-results">
              {{ "No results" | translate }}
            </div>
          </li>
        }
        @if (geocodeResponse?.length) {
          @for (candidate of geocodeResponse; track candidate; let i = $index) {
            <li
              class="app-li"
              [class.app-li--active]="i === activeCandidate"
              >
              <button
                class="app-button app-button--li"
                mat-button
                (click)="flyToCandidate(i)"
                (mouseover)="activeCandidate = i"
                >
                <dl class="app-geocoder--suggestion">
                  <dt class="app-geocoder--suggestion-title">
                    {{ candidate.formatted_address }}
                  </dt>
                </dl>
              </button>
            </li>
          }
        }
      </ul>
    </div>
  }
</div>
