<div class="app-geocoder">
  <mat-form-field appearance="outline">
    <mat-label>{{ "Search for an address or city" | translate }}</mat-label>
    <input
      matInput
      type="text"
      class="app-geocoder-input"
      [ngModel]="geocodeRequest"
      (ngModelChange)="this.geocodeRequestChanged.next($event)"
      (keyup.enter)="flyToCandidate()"
    />
  </mat-form-field>
  <div *ngIf="geocodeResponse" class="app-suggestions-wrapper">
    <ul class="app-geocoder-suggestions">
      <li *ngIf="!geocodeResponse?.length">
        <div class="app-geocoder--error app-geocoder--no-results">
          {{ "No results" | translate }}
        </div>
      </li>
      <ng-container *ngIf="geocodeResponse?.length">
        <li
          *ngFor="let candidate of geocodeResponse; let i = index"
          class="app-li"
          [class.app-li--active]="i === activeCandidate"
        >
          <button
            class="app-button app-button--li"
            mat-button
            (click)="flyToCandidate(i)"
            (mouseover)="activeCandidate = i"
          >
            <dl class="app-geocoder--suggestion">
              <dt class="app-geocoder--suggestion-title">
                {{ candidate.formatted_address }}
              </dt>
            </dl>
          </button>
        </li>
      </ng-container>
    </ul>
  </div>
</div>
