<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RTR-Netztest</title>
    <style>


        .before-test .current-test,
        .before-test #passDataForm,
        .test-running #testResultRow {
            display: none;
        }

        .test-running #tcForm,
        .test-running #passDataForm,
        .test-running #testResultRow {
            display: none;
        }

        .test-finished #tcForm {
            display: none;
        }


    </style>
    <link rel="stylesheet" href="../{{ fingerprint['scss/app.css'] }}">
    <script type="text/javascript" src="../{{ fingerprint['js/jquery-1.8.2.min.js'] }}"></script>
    <script type="text/javascript" src="../{{ fingerprint['js/javaconf.js'] }}"></script>
    <script type="text/javascript" src="../{{ fingerprint['js/functions.js'] }}"></script>
    <script src="../{{ fingerprint['lib/handlebars.min.js'] }}" type="text/javascript"></script>
    <script type="text/javascript" src="../{{ fingerprint['lib/rmbtws.min.js'] }}"></script>
    <script type="text/javascript" src="../{{ fingerprint['js/Loop.js'] }}"></script>
    <script type="text/javascript" src="Lang.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
        var websocketTest = null;
        var openTestUuid = null;
        var currentTestUuid = null;
        var iframeTest = true;
        var uuid = null;
        var exdays = 365*24*60*60;

        $(document).ready(function() {
            var terms_accepted = getCookie("RMBTTermsV6");
            uuid = getCookie("RMBTuuid");
            if (terms_accepted) {
                $(".form-group-tc").hide();
            }
        })

        function submitTCForm() {
            if (uuid) {
                $(".intro-container").hide();
                $(".test-container").show();
                $(".test-container").removeClass("uk-hidden");
                startTest()
            }
            else {
                try {
                    //check checkbox
                    if ($("#acceptTCCheckbox:checked").length == 0) {
                        $("#tcForm").addClass("has-error");
                        $("#acceptTCCheckbox").addClass("has-error");
                        return false;
                    }

                    //remove error classes
                    $("#tcForm").removeClass("has-error");
                    $("#acceptTCCheckbox").removeClass("has-error");

                    //TODO: Settings request
                    var json_data = {
                        version_name: test_version_name,
                        language: selectedLanguage,
                        uuid: cookie_uuid,
                        type: test_type,
                        version_code: test_version_code,
                        name: test_name,
                        terms_and_conditions_accepted: true,
                        terms_and_conditions_accepted_version: terms_version
                    };


                    $.ajax({
                        url: controlProxy + "/" + wspath + "/settings",
                        type: "post",
                        dataType: "json",
                        contentType: "application/json",
                        data: JSON.stringify(json_data),
                        success: function (data) {
                            uuid = data.settings[0].uuid;
                            $(".intro-container").hide();
                            $(".test-container").show();
                            $(".test-container").removeClass("uk-hidden");
                            setCookie("RMBTuuid", uuid, exdays);
                            setCookie("RMBTTermsV6", true, 365 * 20 * 24 * 3600);
                            startTest();
                        }
                    });


                } catch (e) {
                    console.log(e);
                    return false;
                }
            }
            return false;
        }

        function startTest(e) {
            $(".share-container").addClass("uk-hidden")

            var beforeUnloadEventListener = function (e) {
                var confirmationMessage = Lang.getString('CancelTest');

                e.returnValue = confirmationMessage;     // Gecko, Trident, Chrome 34+
                return confirmationMessage;              // Gecko, WebKit, Chrome <34
            };

            var unloadEventListener = function () {
                navigator.sendBeacon(controlProxy + "/" + wspath + "/resultUpdate", JSON.stringify({
                    uuid: clientUUID,
                    test_uuid: currentTestUUID,
                    aborted: true
                }));
            };

            TestEnvironment.init(new LoopTestVisualization(function (result) {
                //window.removeEventListener("beforeunload", beforeUnloadEventListener);
                window.removeEventListener("unload", unloadEventListener,false);

                //only do callback, if fallbackTimer has not fired yet
                console.log("success")
                testFinished(result);
            }, function (result) {
                //window.removeEventListener("beforeunload", beforeUnloadEventListener);
                window.removeEventListener("unload", unloadEventListener,false);

                console.log("error")
            }));


            var config = new RMBTTestConfig(selectedLanguage, controlProxy, wspath);
            var ctrl = new RMBTControlServerCommunication(config,
                {
                    register: function (registration) {
                        //from the registration - get the uuid
                        openTestUuid = registration.response["open_test_uuid"];
                        currentTestUuid = registration.response["test_uuid"];
                    }
                });
            config.uuid = uuid;
            config.doPingIntervalMilliseconds = ping_interval_milliseconds;

            var websocketTest = new RMBTTest(config, ctrl);
            TestEnvironment.getTestVisualization().setRMBTTest(websocketTest);
            TestEnvironment.getTestVisualization().startTest();
            websocketTest.startTest();

            //if a user wants to leave - ask the user if test should really be cancelled
            //no - since all communication is seized by the Browser, if the user is asked
            //window.addEventListener("beforeunload", beforeUnloadEventListener);
            window.addEventListener("unload", unloadEventListener,false);


            //inform about test start
            if (parent.window && typeof parent.window.postMessage === 'function') {
                parent.window.postMessage({
                    type: "start"
                }, '*');
            }
        }

        function testFinished(success) {
            //show form for data passing
            $("body").removeClass("test-running");
            $("body").addClass("test-finished");
            $(".share-container").removeClass("uk-hidden")

            //inform about test finish
            if (parent.window && typeof parent.window.postMessage === 'function') {
                parent.window.postMessage({
                    type: "end"
                }, '*');
            }

            //attach links
            $(".button-result").attr("href", "https://www.netztest.at/de/Verlauf?" + currentTestUuid);
            $(".button-opendata").attr("href", "https://www.netztest.at/de/Opentest?" + openTestUuid);

        }

        function passData() {
            //pass to embedding frame, if any
            if (parent.window && typeof parent.window.postMessage === 'function') {
                parent.window.postMessage({
                    type: "result",
                    uri: "https://data.netztest.at/RMBTStatisticServer/opentests/" + currentTestUuid
                }, '*');
            }
            $("#passDataForm button").attr("disabled", "disabled");
            return false;
        }
    </script>
</head>
<body class="green iframe">
<div class="tm-page uk-padding-small uk-margin-auto" style="max-width:600px;min-width:370px; min-height:400px; margin: 2px">

    <div class="uk-margin-medium-bottom uk-text-center">
        <a href="https://www.netztest.at/" target="_blank">
            <picture>
                <img src='/images/netztest_logo.svg' alt="Logo {{ Lang.title }}" title="RTR-Netztest" style="height:50px;">
            </picture>
        </a>
    </div>
    <div class="uk-section-default uk-section uk-margin-remove-top uk-padding-remove-top uk-container uk-padding-remove">

        <div class="intro-container">
            <p style="font-weight: 600">
                Messen Sie jetzt mit dem RTR-Netztest die Geschwindigkeit Ihres Internetzugangs!
            </p>
            <p>
                Der RTR-Netztest stellt Nutzerinnen und Nutzern Informationen über die aktuelle Dienstequalität
                (Upload, Download, Ping) ihres Internetzugangs zur Verfügung. Er wird von der <a href="https://www.rtr.at/TKP/startseite.{{Lang.lang}}.html" target="_blank">Rundfunk und
                Telekom Regulierungs-GmbH</a> zur Verfügung gestellt.
            </p>
            <form id="tcForm" onsubmit="return submitTCForm()">
                <div class="form-group form-group-tc">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="t" name="acceptTC" id="acceptTCCheckbox" class="uk-checkbox">
                            Ich stimme den <a href="https://www.rtr.at/de/tk/rtrnetztesttermsofuse" target="_blank">Nutzungsbedingungen</a>
                            und <a href="https://www.rtr.at/de/tk/netztestprivacypolicyweb" target="_blank">Datenschutzbestimmungen</a>
                            zu.
                        </label>
                    </div>
                </div>
                <button class="uk-button uk-button-primary" type="submit">Messung starten</button>
            </form>
            <p class="uk-text-muted uk-link-muted">
                <a href="https://www.rtr.at/rtr/footer/impressum.de.html" target="_blank">Impressum</a> &middot;
                <a href="https://www.rtr.at/rtr/footer/Barrierefreiheit.de.html" target="_blank">Barrierefreiheit</a> &middot;
                <a href="https://www.rtr.at/de/tk/netztestprivacypolicyweb" target="_blank">Datenschutz</a> &middot;
                <a href="https://github.com/rtr-nettest" target="_blank">Open Source</a>
            </p>
        </div>

        <div class="uk-grid current-test uk-hidden test-container">
            <div class="progress uk-width-1-1 uk-overflow-auto">
                <div id="testprogress" class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0"
                     aria-valuemax="100"
                     style="min-width: 3em;width: 0%">
                    0%
                </div>
            </div>
            <div id="infocurrent" class="uk-width-1-1 uk-margin-small-top">
                <div class="uk-grid uk-grid-row-collapse uk-grid-column-small" uk-grid>
                    <div class="uk-width-1-4">{{ Lang.state }}</div>
                    <div class="uk-width-3-4" id="infostatus">-</div>
                </div>
                </p>
                <p></p>
                <div class="uk-grid uk-grid-row-collapse uk-grid-column-small" uk-grid>
                    <div class="uk-width-1-4">{{ Lang.ping }}</div>
                    <div class="uk-width-3-4" id="infoping">
                        <div class="loader"></div>
                        <span>-</span></div>
                </div>
                <div class="uk-grid uk-grid-row-collapse uk-grid-column-small" uk-grid>
                    <div class="uk-width-1-4">{{ Lang.download }}</div>
                    <div class="uk-width-3-4" id="infodown">
                        <div class="loader"></div>
                        <span>-</span></div>
                </div>
                <div class="uk-grid uk-grid-row-collapse uk-grid-column-small" uk-grid>
                    <div class="uk-width-1-4">{{ Lang.upload }}</div>
                    <div class="uk-width-3-4" id="infoup">
                        <div class="loader"></div>
                        <span>-</span></div>
                </div>
                <div class="uk-margin-top">
                    <div class="uk-grid uk-grid-row-collapse uk-grid-column-small" uk-grid>
                        <div class="uk-width-1-4">{{ Lang.coordinates }}</div>
                        <div class="uk-width-3-4" id="infogeo">-</div>
                    </div>
                    <div class="uk-grid uk-grid-row-collapse uk-grid-column-small" uk-grid>
                        <div class="uk-width-1-4">{{ Lang.test_server }}</div>
                        <div class="uk-width-3-4" id="infoserver">-</div>
                    </div>
                    <div class="uk-grid uk-grid-row-collapse uk-grid-column-small" uk-grid>
                        <div class="uk-width-1-4">{{ Lang.ip }}</div>
                        <div class="uk-width-3-4" id="infoip">-</div>
                    </div>
                    <div class="uk-grid uk-grid-row-collapse uk-grid-column-small" uk-grid>
                        <div class="uk-width-1-4">{{ Lang.operator }}</div>
                        <div class="uk-width-3-4" id="infoprovider">-</div>
                    </div>
                </div>

            </div>
            <div class="uk-hidden share-container" >
                <a class="uk-button uk-button-default uk-button-secondary uk-button-small uk-margin-small-right" href="/" onclick="startTest();return false;">&nbsp;Neue Messung&nbsp;</a>
                <a class="button-result uk-button uk-button-default uk-button-secondary uk-button-small  uk-margin-small-right" href="/" target="_blank">&nbsp;Mehr Details&nbsp;</a>
                <!--<a class="button-opendata uk-button uk-button-default uk-button-secondary uk-button-small " href="/" target="_blank">&nbsp;Open Data&nbsp;</a>-->
            </div>
        </div>


    </div>
</div>
</body>
</html>
