<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>


        .before-test .current-test,
        .before-test #passDataForm,
        .test-running #testResultRow {
            display: none;
        }

        .test-running #tcForm,
        .test-running #passDataForm,
        .test-running #testResultRow {
            display: none;
        }

        .test-finished #tcForm {
            display: none;
        }

    </style>
    <link rel="stylesheet" href="../{{ fingerprint['scss/app.css'] }}">
    <script type="text/javascript" src="../{{ fingerprint['js/jquery-1.8.2.min.js'] }}"></script>
    <script type="text/javascript" src="../{{ fingerprint['js/javaconf.js'] }}"></script>
    <script type="text/javascript" src="../{{ fingerprint['js/functions.js'] }}"></script>
    <script src="../{{ fingerprint['lib/handlebars.min.js'] }}" type="text/javascript"></script>
    <script type="text/javascript" src="../{{ fingerprint['lib/rmbtws.min.js'] }}"></script>
    <script type="text/javascript" src="../{{ fingerprint['js/Loop.js'] }}"></script>
    <script type="text/javascript" src="Lang.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
        var websocketTest = null;
        var openTestUuid = null;
        var iframeTest = true;

        function submitTCForm() {
            try {
                //check checkbox
                if ($("#acceptTCCheckbox:checked").length == 0) {
                    $("#tcForm").addClass("has-error");
                    $("#acceptTCCheckbox").addClass("has-error");
                    return false;
                }

                //remove error classes
                $("#tcForm").removeClass("has-error");
                $("#acceptTCCheckbox").removeClass("has-error");

                startTest();

            } catch (e) {
                console.log(e);
                return false;
            }
            return false;
        }

        function startTest(e) {

            //TODO: Settings request

            var beforeUnloadEventListener = function (e) {
                var confirmationMessage = Lang.getString('CancelTest');

                e.returnValue = confirmationMessage;     // Gecko, Trident, Chrome 34+
                return confirmationMessage;              // Gecko, WebKit, Chrome <34
            };

            var unloadEventListener = function () {
                navigator.sendBeacon(controlProxy + "/" + wspath + "/resultUpdate", JSON.stringify({
                    uuid: clientUUID,
                    test_uuid: currentTestUUID,
                    aborted: true
                }));
            };

            TestEnvironment.init(new LoopTestVisualization(function (result) {
                //window.removeEventListener("beforeunload", beforeUnloadEventListener);
                window.removeEventListener("unload", unloadEventListener,false);

                //only do callback, if fallbackTimer has not fired yet
                console.log("success")
            }, function (result) {
                //window.removeEventListener("beforeunload", beforeUnloadEventListener);
                window.removeEventListener("unload", unloadEventListener,false);

                console.log("error")
            }));


            var config = new RMBTTestConfig(selectedLanguage, controlProxy, wspath);
            var ctrl = new RMBTControlServerCommunication(config);
            config.uuid = "5f295d6b-907a-4c67-b404-52779cc820d9";
            config.doPingIntervalMilliseconds = ping_interval_milliseconds;

            var websocketTest = new RMBTTest(config, ctrl);
            TestEnvironment.getTestVisualization().setRMBTTest(websocketTest);
            TestEnvironment.getTestVisualization().startTest();
            websocketTest.startTest();

            //if a user wants to leave - ask the user if test should really be cancelled
            //no - since all communication is seized by the Browser, if the user is asked
            //window.addEventListener("beforeunload", beforeUnloadEventListener);
            window.addEventListener("unload", unloadEventListener,false);


            //inform about test start
            if (parent.window && typeof parent.window.postMessage === 'function') {
                parent.window.postMessage({
                    type: "start"
                }, '*');
            }
        }

        function testFinished(success) {
            //show form for data passing
            $("body").removeClass("test-running");
            $("body").addClass("test-finished");

            //inform about test finish
            if (parent.window && typeof parent.window.postMessage === 'function') {
                parent.window.postMessage({
                    type: "end"
                }, '*');
            }

            //attach links
            $("#openDataLink").attr("href", "https://www.netztest.at/de/Opentest?" + openTestUuid);

        }

        function passData() {
            //pass to embedding frame, if any
            if (parent.window && typeof parent.window.postMessage === 'function') {
                parent.window.postMessage({
                    type: "result",
                    uri: "https://data.netztest.at/RMBTStatisticServer/opentests/" + openTestUuid
                }, '*');
            }
            $("#passDataForm button").attr("disabled", "disabled");
            return false;
        }
    </script>
</head>
<body class="green">
<div class="tm-page uk-padding-small" style="border:1px solid black; width:400px; height:400px; margin: 2px">

    <div class="uk-margin-medium-bottom uk-text-center">
        <a href="https://www.netztest.at/" target="_blank">
            <picture>
                <img src='/images/netztest_logo.svg' alt="Logo {{ Lang.title }}" title="RTR" style="height:50px;">
            </picture>
        </a>
    </div>
    <div class="uk-section-default uk-section uk-margin-remove-top uk-padding-remove-top uk-container uk-padding-remove">

        <div class="uk-hidden">
            <form id="tcForm" onsubmit="return submitTCForm()">
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="t" name="acceptTC" id="acceptTCCheckbox">
                            Ich stimme den <a href="https://www.rtr.at/de/tk/rtrnetztesttermsofuse" target="_blank">Nutzungsbedingungen</a>
                            und <a href="https://www.rtr.at/de/tk/netztestprivacypolicyweb" target="_blank">Datenschutzbestimmungen</a>
                            zu.
                        </label>
                    </div>
                </div>
                <button class="uk-button uk-button-primary" type="submit">Test starten</button>
            </form>
        </div>

        <div class="uk-grid current-test">
            <div class="progress uk-width-1-1 uk-margin-small-bottom">
                <div id="testprogress" class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0"
                     aria-valuemax="100"
                     style="min-width: 3em;width: 0%">
                    0%
                </div>
            </div>
            <div id="infocurrent" class="uk-width-1-1">
                <div class="uk-grid uk-grid-row-collapse uk-grid-column-small" uk-grid>
                    <div class="uk-width-1-4">{{ Lang.state }}</div>
                    <div class="uk-width-3-4" id="infostatus">-</div>
                </div>
                </p>
                <p></p>
                <div class="uk-grid uk-grid-row-collapse uk-grid-column-small" uk-grid>
                    <div class="uk-width-1-4">{{ Lang.ping }}</div>
                    <div class="uk-width-3-4" id="infoping">
                        <div class="loader"></div>
                        <span>-</span></div>
                </div>
                <div class="uk-grid uk-grid-row-collapse uk-grid-column-small" uk-grid>
                    <div class="uk-width-1-4">{{ Lang.download }}</div>
                    <div class="uk-width-3-4" id="infodown">
                        <div class="loader"></div>
                        <span>-</span></div>
                </div>
                <div class="uk-grid uk-grid-row-collapse uk-grid-column-small" uk-grid>
                    <div class="uk-width-1-4">{{ Lang.upload }}</div>
                    <div class="uk-width-3-4" id="infoup">
                        <div class="loader"></div>
                        <span>-</span></div>
                </div>
                <div class="uk-margin-top">
                    <div class="uk-grid uk-grid-row-collapse uk-grid-column-small" uk-grid>
                        <div class="uk-width-1-4">{{ Lang.coordinates }}</div>
                        <div class="uk-width-3-4" id="infogeo">-</div>
                    </div>
                    <div class="uk-grid uk-grid-row-collapse uk-grid-column-small" uk-grid>
                        <div class="uk-width-1-4">{{ Lang.test_server }}</div>
                        <div class="uk-width-3-4" id="infoserver">-</div>
                    </div>
                    <div class="uk-grid uk-grid-row-collapse uk-grid-column-small" uk-grid>
                        <div class="uk-width-1-4">{{ Lang.ip }}</div>
                        <div class="uk-width-3-4" id="infoip">-</div>
                    </div>
                    <div class="uk-grid uk-grid-row-collapse uk-grid-column-small" uk-grid>
                        <div class="uk-width-1-4">{{ Lang.operator }}</div>
                        <div class="uk-width-3-4" id="infoprovider">-</div>
                    </div>
                </div>

            </div>
        </div>

        <form id="passDataForm" onsubmit="return passData()">
            <button class="uk-button uk-button-default uk-button-secondary uk-button-small" type="submit">Test wiederholen</button>
            <button class="uk-button uk-button-default uk-button-secondary uk-button-small" type="submit">Mehr Details</button>
            <button class="uk-button uk-button-default uk-button-secondary uk-button-small" type="submit">Open Data</button>
        </form>
    </div>
</div>
</body>
</html>
