{% extends basetemplate %}
{% set title = Lang.index %}


{% block headerscriptingExtended %}
    

    <script src="../lib/olv3/ol-debug.js" type="text/javascript"></script>
    <script src="../lib/handlebars.min.js" type="text/javascript"></script>
    <script src="../lib/moment.min.js" type="text/javascript"></script>
    
    <script type="text/javascript" src="../js/Index.js"></script>

    <link rel="stylesheet" type="text/css" href="../lib/olv3/ol.css" media="screen" />

    <script src="../lib/date-de-AT.js" type="text/javascript"></script>
{% endblock %}

{% block sideContent %}
	<div id="new-tests-map-container">
        <div id="newtestsmap" class="olMap" style="height:900px;"></div>
        {{ Lang.recent_tests }} - <a href="Opentests">{{ Lang.further_tests }}</a>
        
    </div>


{% endblock %}
                                
                                
{% block content %}

 <section class="preface clearfix">
 <p>
        {{ Lang.index_content.service_description }}
    </p>
    <p>
    	<a href="{{ Lang.index_content.tos.url }}">{{ Lang.index_content.tos.text }}</a>
    </p>
</section>




		<section class="teaser-element clearfix">
			<div class="teaser-button netztest full-link">
				<div class="teaser-button-inner not-mobile clearfix" style="display: block">
					<div class="teaser-icon" aria-hidden="true">W</div>
					<h4 class="teaser-headline" id="teaserlinkStart"><a href="/{{ Lang.lang }}/Test">{{ Lang.index_content.test_section.heading }}</a></h4>
				</div>
			
			</div>
		</section>
		
		
		
		<section class="teaser-element clearfix">
		
			<div class="teaser-block full-link">
				<div class="teaser-icon" aria-hidden="true">z</div>
				<div class="teaser-text">
					<h4 class="teaser-headline"><a href="{{ Lang.index_content.apps_url }}">{{ Lang.index_content.apps }}</a></h4>
					<p>{{ Lang.index_content.apps_content }}</p>
				</div>
			</div>
		
			<div class="teaser-block full-link">
				<div class="teaser-icon" aria-hidden="true">X</div>
				<div class="teaser-text">
					<h4 class="teaser-headline"><a href="/{{ Lang.lang }}/Statistik">{{ Lang.statistics }}</a></h4>
					<p>{{ Lang.index_content.statistics_content }}</p>
				</div>
			</div>
			
			
		</section>
		
		
			<section class="teaser-element clearfix">
			<div class="teaser-block full-link">
				<div class="teaser-icon" aria-hidden="true">Y</div>
				<div class="teaser-text">
					<h4 class="teaser-headline"><a href="/{{ Lang.lang }}/Karte">{{ Lang.index_content.map }}</a></h4>
					<p>{{ Lang.index_content.map_content }}</p>
				</div>
			</div>  
			
			<div class="teaser-block full-link">
				<div class="teaser-icon" aria-hidden="true">?</div>
				<div class="teaser-text">
					<h4 class="teaser-headline"><a href="{{ Lang.help_url }}">{{ Lang.help }}</a></h4>
					<p>{{ Lang.index_content.help_content }}</p>
				</div>
			</div>  
		</section>
		





<br class="clear"/>

{% if target == "qostest" %}
<h3>{{ Lang.X_recent_tests | replace("%X%","10") }}</h3>

<div class="testdata-content">
    <table id="verlauf">
        <thead>
        <tr>
            <th>{{ Lang.time }}</th>
            <th class="test-platform">{{ Lang.operator }}/
                <wbr>
                {{ Lang.device }}
            </th>
            <th class="right">{{ Lang.down }} ({{ Lang.mbps }})</th>
            <th class="right">{{ Lang.up }} ({{ Lang.mbps }})</th>
            <th class="right">{{ Lang.ping }} ({{ Lang.ms }})</th>
            <th class="right test-network-signal">{{ Lang.signal }} ({{ Lang.dBm }})</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>


</div>
{% endif %}


{% endblock %}