{% extends basetemplate %}
{% set title = Lang.opendata %}

{% block headerscriptingExtended %}
<script>
    $(document).ready(function() {
        var startY = 2013;
        var now = new Date();
        var options = [
            {
                label: "csv",
                extension: "zip",
                id: "#old"
            },
            {
                label: "xlsx",
                extension: "xlsx",
                id: "#xlsx"
            }
        ];
        while (now.getFullYear() >= startY) {
            $.each(options, function(i, option) {
                var date =  now.getFullYear() + "-" + pad(now.getMonth()+1,2);
                var value  = "netztest-opendata-" + date + "." + option.extension;
                $(option.id).append('<option value="' + value + '">' + date + '</option>');
            });
            now.setMonth(now.getMonth() -1);
        }

        $("#old, #xlsx").bind("change",function(e) {
            var val = $(e.target).val();
            //if a date is selected
            if (val.substr(0,1) !== "-") {
                document.location.href = statisticProxy + "/" + statisticpath + "/export/" + val;
            }
        });

        //adjust link for recent tests
        $("p.recentTests a").each(function(i, val) {
            $(this).attr("href",statisticProxy + $(this).attr("href"));
        })
    });
</script>
{% endblock %}

{% block content %}
<div class="uk-container">
    <div class="uk-container-small">
        <h2>{{ Lang.opendata_content.open_data_specification }}</h2>
        <p>
            {{ Lang.opendata_content.content_block }}
        </p>
        <h2>{{ Lang.opendata_content.csv_interface }}</h2>
        <p class="recentTests">
            {{ Lang.opendata_content.recent_tests_hours }}
        <p class="recentTests">
            {{ Lang.opendata_content.recent_tests }}
        <p>
            {{ Lang.opendata_content.further_results }}
        <form class="form-horizontal">
            <div class="form-group" uk-grid>
                <label for="select-csv" class="uk-width-1-6@s">CSV</label>

                <select id="old" class="uk-select uk-width-auto" id="select-csv">
                    <option>-- {{ Lang.please_select }} --</option>
                </select>

            </div>
            <div class="form-group" uk-grid>
                <label for="select-xlsx" class="uk-width-1-6@s">XLSX</label>

                <select id="xlsx" class="uk-select uk-width-auto" id="select-xlsx">
                    <option>-- {{ Lang.please_select }} --</option>
                </select>

            </div>
        </form>
        </p>
        {{ Lang.opendata_content.note_timestamp }}
        </p>
        <p>
            {{ Lang.opendata_content.license_text }}
        </p>
        <p><img src="/images/C_lic_cc_01.png" height="31" width="88"/></p>
        <p>&nbsp;</p>
    </div>
</div>
{% endblock %}
