{% extends basetemplate %}
{% set title = Lang.opendata %}

{% block headerscriptingExtended %}
<script>
    $(document).ready(function() {
        var startY = 2013;
        var now = new Date();
        var options = [
            {
                label: "csv",
                extension: "zip"
            },
            {
                label: "xlsx",
                extension: "xlsx"
            }
        ]
        while (now.getFullYear() >= startY) {
            $.each(options, function(i, option) {
                var date =  now.getFullYear() + "-" + pad(now.getMonth()+1,2);
                var value  = "netztest-opendata-" + date + "." + option.extension;
                $("#old").append('<option value="' + value + '">' + date + ' (' + option.label + ')</option>');
            });
            now.setMonth(now.getMonth() -1);
        }

        $("#old").bind("change",function() {
            var val = $("#old").val();
            //if a date is selected
            if (val.substr(0,1) !== "-") {
                document.location.href = statisticProxy + "/" + statisticpath + "/export/" + val;
            }
        });
    });
</script>
{% endblock %}

{% block content %}
<h2>{{ Lang.opendata_content.open_data_specification }}</h2>
<p>
    {{ Lang.opendata_content.content_block }}
</p>
<h2>{{ Lang.opendata_content.csv_interface }}</h2>
<p>
    {{ Lang.opendata_content.recent_tests_hours }}
<p>
    {{ Lang.opendata_content.recent_tests }}
<p>
    {{ Lang.opendata_content.further_results }}
<form>
    <fieldset>
    <select id="old" class="form-input col-xs-12 col-lg-6">
        <option>-- {{ Lang.please_select }} --</option>
    </select>
</fieldset>
</form>
</p>
    {{ Lang.opendata_content.note_timestamp }}
</p>
<p>
    {{ Lang.opendata_content.license_text }}
</p>
<p><img src="/img/C_lic_cc_01.png" height="31" width="88" /></p>
<p>&nbsp;</p>
{% endblock %}
