{% extends basetemplate %}
{% set title = Lang.options %}

{% block headerscriptingExtended %}
<script type="text/javascript" src="../{{ fingerprint["js/Optionen.js"] }}"></script>
{% endblock %}

{% block content %}
<h2 id="h2">{{ Lang.options_content.client_uuid }}</h2>
<div id="youruuid">{{ Lang.options_content.your_uuid }}: </div>

<h2> {{ Lang.options }} </h2>

<form id="optionsForm" onsubmit="return saveFormValues()">
    <div id="ipversionForm">
        <h3>{{ Lang.options_content.ip_version }}</h3>
        <p>
            {{ Lang.options_content.ip_version_desc }}
        </p>

        <div class="radio">
            <label><input type="radio" name="ipversion" value="default" checked="checked"/> {{ Lang.automatic }} </label>
        </div>
        <div class="radio">
            <label><input type="radio" name="ipversion" value="ipv4" disabled/>{{ Lang.options_content.ipvX_only  | replace("%X%","4") }}</label>
        </div>
        <div class="radio">
            <label><input type="radio" name="ipversion" value="ipv6" disabled/>{{ Lang.options_content.ipvX_only  | replace("%X%","6") }}</label>
        </div>
    </div>

    <div id="testserverForm" {% if target == "netztest" %}style="display:none"{% endif %}>
        <h3>{{ Lang.test_server }}</h3>
        {{ Lang.options_content.choose_server_desc }}

        <div id="serverList">
            <div class="radio">
                <label><input type="radio" name="testserver" value="default"
                              checked="checked"/> {{ Lang.default_server }}</label>
            </div>
        </div>

    </div>

    <div>
        <input type="submit" class="btn submit" value="{{ Lang.save }}"/>
        <p id="saveNotification" style="display:none">{{ Lang.options_content.config_saved }}</p>
    </div>
</form>


{{ Lang.options_content.options_apps_text }}

<!-- <div id="yourzip"><label for="RMBTzipID">Your postal code entered is: </label><input type="text" name="RMBTzip" id="RMBTzipID" value="" onchange="resetzip(this.value);" /><span class='error'></span></div> -->

{% if target == "netztest" %}
<!--
<h3>{{ Lang.options_content.preferred_test_type }}</h3>
<form id="preferredTestForm">
    <ul>
        <li>
            <label><input type="radio" name="preferredTest" value="websocket" /> {{ Lang.websocket }}</label>
        </li>
        <li>
            <label><input type="radio" name="preferredTest" value="Java" /> {{ Lang.java_applet }}</label>
            <ul class="submenu">
                <li>
                    <div id="yourndt"><input type="checkbox" name="RMBTndt" id="RMBTndtID" onclick="resetndt();" /><label for="RMBTndtID">{{ Lang.options_content.run_ndt }}</label></div>
                </li>
                <li>
                    <label><input type="checkbox" name="qos" /> {{ Lang.quality_of_service }}</label>
                </li>
            </ul>
        </li>
    </ul>
</form>
    -->
{% endif %}





{% endblock %}