{% extends basetemplate %}
{% set title = Lang.options %}

{% block headerscriptingExtended %}
<script type="text/javascript" src="../{{ fingerprint['js/Optionen.js'] }}"></script>
<style>
    input.form-control {
        background-color: white;
    }
</style>
{% endblock %}

{% block content %}
<div class="uk-container">
<h2 id="h2">{{ Lang.options_content.client_uuid }}</h2>
<div id="youruuid">{{ Lang.options_content.your_uuid }}: </div>
    <div>E-Mail: <a href="mailto:{{ Lang.options_content.email_address }}?subject={{ Lang.options_content.email_subject }}">{{ Lang.options_content.email_address }}</a></div>

<h2 class="uk-margin-top"> {{ Lang.options }} </h2>

<form id="optionsForm" onsubmit="return saveFormValues()" class="uk-form uk-margin-remove uk-padding-remove">
    <div id="ipversionForm">
        <h3>{{ Lang.options_content.ip_version }}</h3>
        <p>
            {{ Lang.options_content.ip_version_desc }}
        </p>

        <div class="radio">
            <label><input type="radio" name="ipversion" value="default" checked="checked" class="uk-radio"/> {{ Lang.automatic }} </label>
        </div>
        <div class="radio">
            <label><input type="radio" name="ipversion" value="ipv4" disabled class="uk-radio"/>{{ Lang.options_content.ipvX_only  | replace("%X%","4") }}</label>
        </div>
        <div class="radio">
            <label><input type="radio" name="ipversion" value="ipv6" disabled class="uk-radio"/>{{ Lang.options_content.ipvX_only  | replace("%X%","6") }}</label>
        </div>
    </div>

    <div id="testserverForm" {% if target == "netztest" %}style="display:none"{% endif %}>
        <h3>{{ Lang.test_server }}</h3>
        {{ Lang.options_content.choose_server_desc }}

        <div id="serverList">
            <div class="radio">
                <label><input type="radio" name="testserver" value="default" class="uk-radio"
                              checked="checked"/> {{ Lang.default_server }}</label>
            </div>
        </div>

    </div>


    <div id="threadsForm" class="form-horizontal" style="display: none">
        <h3>{{ Lang.options_content.fix_threads }}</h3>
        <div class="form-group">
            <label class="col-sm-4 control-label" for="threads_dl">{{ Lang.download }}</label>
            <div class="col-md-7 col-sm-8">
                <input class="uk-input" type="number" id="threads_dl" placeholder="default"  />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" for="threads_ul">{{ Lang.upload }}</label>
            <div class="col-md-7 col-sm-8">
                <input class="uk-input" type="number" id="threads_ul" placeholder="default" />
            </div>
        </div>
    </div>

    <div>
        <input type="submit" class="uk-button uk-button-primary uk-button-small" value="{{ Lang.save }}"/>
        <p id="saveNotification" style="display:none">{{ Lang.options_content.config_saved }}</p>
    </div>
</form>


{{ Lang.options_content.options_apps_text }}

</div>




{% endblock %}