{% extends basetemplate %}
{% set title = Lang.statistics %}
{% set containerclass = "full-width" %}

{% block headerscriptingExtended %}
<script type="text/javascript" src="../{{ fingerprint["js/Statistik.js"] }}"></script>
<script type="text/javascript" src="../{{ fingerprint["lib/tablesort/jquery.tablesorter.min.js"] }}"></script>
<script src="../{{ fingerprint["lib/moment.min.js"] }}" type="text/javascript"></script>

<style>
    .search_form {
        padding: 0%;
    }

    .form-inline .form-group {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    input[type=date] {
        background-color: white;
    }
</style>
{% endblock %}

{% block content %}
<h2>{{ Lang.statistics }}</h2>
<div id="spinner"></div>
<div class="hinweis">
    {{ Lang.statistics_content.teaser }}
</div>


<h3>{{ Lang.X_recent_tests | replace("%X%","5") }}</h3>
<div class="testdata-content">
    <!-- table id="verlauf">
        <thead>
        <tr>
            <th>{{ Lang.time }}</th>
            <th class="test-platform">{{ Lang.operator }}/
                <wbr>
                {{ Lang.device }}
            </th>
            <th class="right">{{ Lang.up }} ({{ Lang.mbps }})</th>
            <th class="right">{{ Lang.down }} ({{ Lang.mbps }})</th>
            <th class="right">{{ Lang.ping }} ({{ Lang.ms }})</th>
            <th class="right test-network-signal">{{ Lang.signal }} ({{ Lang.dBm }})</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table -->

     <table id="verlauf" class="dont-stack">
     	<!-- 
                        <col class="thirty-percent" />
                        <col class="twenty-percent" />
                        <col class="fifteen-percent" />
                        <col class="five-percent" />
                        <col class="fifteen-percent" />
                        <col class="ten-percent" />
-->                       
                        <thead>
                            <tr>
                                <th scope="col">{{ Lang.time }}</th>
                                <th scope="col">{{ Lang.operator }}/<wbr>{{ Lang.device }}</th>
                                <th scope="col" class="right">{{ Lang.down }} ({{ Lang.mbps }})</th>
                                <th scope="col" class="right">{{ Lang.up }} ({{ Lang.mbps }})</th>
                                <th scope="col" class="right">{{ Lang.ping }} ({{ Lang.ms }})</th>
                                <th scope="col" class="right">{{ Lang.signal }} ({{ Lang.dBm }})</th>
                            </tr>
                        </thead>
                        <tbody>
                          
                        </tbody>
                        <tfoot>
                        <tr><td colspan="6">
                            <a href="Opentests">{{ Lang.further_tests }}</a>
                        </td>
                        </tr>
                        </tfoot>
                    </table>
    
    

</div>



<div class="clear"><!-- --></div>
	<form class="form-inline"> <fieldset>
		<div class="form_line">
            <label for="country">{{ Lang.statistics_content.operators_from }} </label>
		<select class="form-control" id="country" onchange="requestBrowserData('RMBTstatistics');">
			<option value="null">{{ Lang.austria }}</option>
		</select>
        <select class="form-control" id="province" onchange="requestBrowserData('RMBTstatistics');">
            <option value="null">{{ Lang.statistics_content.all_states }}</option>
            <option value="1">{{ Lang.statistics_content.burgenland }}</option>
            <option value="2">{{ Lang.statistics_content.carinthia }}</option>
            <option value="3">{{ Lang.statistics_content.lower_austria }}</option>
            <option value="4">{{ Lang.statistics_content.upper_austria }}</option>
            <option value="5">{{ Lang.statistics_content.salzburg }}</option>
            <option value="6">{{ Lang.statistics_content.styria }}</option>
            <option value="7">{{ Lang.statistics_content.tyrol }}</option>
            <option value="8">{{ Lang.statistics_content.vorarlberg }}</option>
            <option value="9">{{ Lang.statistics_content.vienna }}</option>
        </select>
		<a href="https://www.netztest.at/redirect/{{ Lang.lang }}/help_result" class="btn btn-default">?</a>
		</div>
	</fieldset></form>




    <form class="form-inline">
        <div class="statistik search_form">
        <fieldset>
            <div class="form-group">
                <label for="statistik_type">{{ Lang.type }}</label>
                <select class="form-control" id="statistik_type" name="statistik_type"
                        onchange="requestBrowserData('RMBTstatistics');">
                    <option value="mobile">{{ Lang.mobile }}</option>
                    <option value="wifi">{{ Lang.wifi_test }}</option>
                    <option value="browser">{{ Lang.browser }}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="statistik_duration">{{ Lang.time_span }}</label>
                <select  class="form-control"  id="statistik_duration" name="statistik_duration"
                        onchange="requestBrowserData('RMBTstatistics');">
                    <option value="1">{{ Lang.24_hours }}</option>
                    <option value="7">{{ Lang.1_week }}</option>
                    <option value="30" id="statistik_duration_default_world">{{ Lang.1_month }}</option>
                    <option value="90" id="statistik_duration_default_at" selected="selected">{{ Lang.X_months | replace("%X%","3") }}</option>
                    <option value="180">{{ Lang.X_months | replace("%X%","6") }}</option>
                    <option value="365">{{ Lang.1_year }}</option>
                    <option value="730">{{ Lang.X_years | replace("%X%","2") }}</option>
                </select>
            </div>



            <a href="#" id="show_more_button" class="btn btn-default" data-alternate="{{ Lang.less }} &#x25b2;">{{ Lang.more }} &#x25bc;</a>

            <div class="additional-fields" style="display:none;">
                <div id="statistik_network_type_group_form_line" class="form-group">
                    <label for="statistik_network_type_group">{{ Lang.technology }}</label>
                    <select class="form-control"  id="statistik_network_type_group" name="statistik_network_type_group"
                            onchange="requestBrowserData('RMBTstatistics');">
                        <option value="all" selected="selected">{{ Lang.all }}</option>
                        <option value="2G">2G</option>
                        <option value="3G">3G</option>
                        <option value="4G">4G</option>
                        <option value="mixed">{{ Lang.mixed }}</option>
                    </select>
                </div>
                <div class="form-group">

                    <label for="statistik_quantile">{{ Lang.quantile }}</label>
                    <select class="form-control"  id="statistik_quantile" name="statistik_quantile"
                            onchange="requestBrowserData('RMBTstatistics');">
                        <option value="0.2">20%</option>
                        <option value="0.5" selected="selected">50%</option>
                        <option value="0.8">80%</option>
                    </select>
                </div>
                <div id="statistik_location_accuracy_form_line" class="form-group">
                    <label for="statistik_location_accuracy">{{ Lang.location_accuracy }}</label>
                    <select class="form-control"  id="statistik_location_accuracy" name="statistik_location_accuracy"
                            onchange="requestBrowserData('RMBTstatistics');">
                        <option value="-1">{{ Lang.any }}</option>
                        <option value="10000">&lt; {{ Lang.X_km | replace("%X%","10") }}</option>
                        <option value="2000" selected="selected">&lt; {{ Lang.X_km | replace("%X%","2") }}</option>
                        <option value="100">&lt; {{ Lang.X_m | replace("%X%","100") }}</option>
                    </select>
                </div>

                <div id="statistik_enddate_form_line" class="form-group">
                    <label for="statistik_enddate">{{ Lang.statistics_content.enddate }}</label>
                        <input type="date" class="form-control" id="statistik_enddate" placeholder="2015-01-01" onchange="requestBrowserData('RMBTstatistics');"/>
                </div>
            </div>

        </fieldset>
</div>
    </form>
    




<table id="statistik_provider" class="tablesorter dont-stack">
    <colgroup>
        <col width="25%"/>
        <col/>
        <col/>
        <col/>
        <col/>
        <col/>
    </colgroup>
    <thead>
    <tr>
        <th scope="col">{{ Lang.name }}</th>
        <th scope="col" class="right">{{ Lang.down }}</th>
        <th scope="col" class="right">{{ Lang.up }}</th>
        <th scope="col" class="right">{{ Lang.ping }}</th>
        <th scope="col" class="right">{{ Lang.signal }}</th>
        <th scope="col" class="right">{{ Lang.quantity }}</th>
    </tr>
    </thead>
    <tbody id="statistik_provider_body">

    </tbody>

    <tfoot id="statistik_provider_foot">

    </tfoot>

</table>


<table id="statistik_provider_captions" class="dont-stack">
    <colgroup>
        <col/>
        <col/>
        <col/>
        <col/>
        <col/>
    </colgroup>
    <thead>
    <tr>
        <th scope="col" class="right">{{ Lang.down }}</th>
        <th scope="col" class="right">{{ Lang.up }}</th>
        <th scope="col" class="right">{{ Lang.ping }}</th>
        <th scope="col" class="right">{{ Lang.signal }}</th>
        <th scope="col" class="right">{{ Lang.quantity }}</th>
    </tr>
    </thead>
    <tbody id="statistik_provider_captions_body">

    </tbody>

    <tfoot id="statistik_provider_captions_foot">

    </tfoot>

</table>

<table id="statistik_provider_short" class="tablesorter dont-stack">
    <colgroup>
        <col width="25%"/>
        <col/>
        <col/>
        <col/>
        <col/>
        <col/>
    </colgroup>
    <thead>
    <tr>
        <th scope="col">{{ Lang.name }}</th>
        <th scope="col" class="right">{{ Lang.down }}</th>
        <th scope="col" class="right">{{ Lang.up }}</th>
        <th scope="col" class="right">{{ Lang.ping }}</th>
        <th scope="col" class="right">{{ Lang.signal }}</th>
        <th scope="col" class="right">{{ Lang.quantity }}</th>
    </tr>
    </thead>
    <tbody id="statistik_provider_short_body">

    </tbody>

    <tfoot id="statistik_provider_short_foot">

    </tfoot>

</table>
<p>{{ Lang.statistics_content.disclaimer }}</p>

<h3>{{ Lang.devices }}</h3>
<table id="statistik_devices" class="tablesorter dont-stack">
    <colgroup>
        <col width="25%"/>
        <col/>
        <col/>
        <col/>
        <col/>
    </colgroup>
    <thead>
    <tr>
        <th scope="col">{{ Lang.name }}</th>
        <th>{{ Lang.down }}</th>
        <th scope="col" class="right">{{ Lang.up }}</th>
        <th scope="col" class="right">{{ Lang.ping }}</th>
        <th scope="col" class="right">{{ Lang.quantity }}</th>
    </tr>
    </thead>
    <tbody id="statistik_devices_body">

    </tbody>

    <tfoot id="statistik_devices_foot">

    </tfoot>

</table>

<div class="opendata-info">
    <p>{{ Lang.statistics_content.opendata_disclaimer }}</p>
</div>
{% endblock %}