{% extends basetemplate %}
{% set title = Lang.statistics %}
{% set containerclass = "full-width" %}

{% block headerscriptingExtended %}
    <script type="text/javascript" src="../{{ fingerprint["lib/handlebars.min.js"] }}"></script>
<script type="text/javascript" src="../{{ fingerprint["js/Statistik.js"] }}"></script>
<script type="text/javascript" src="../{{ fingerprint["lib/tablesort/jquery.tablesorter.min.js"] }}"></script>
<script src="../{{ fingerprint["lib/moment.min.js"] }}" type="text/javascript"></script>

<style>
    .search_form {
        padding: 0%;
    }

    .form-inline .form-group {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    input[type=date] {
        background-color: white;
    }

    #statistics_failure {
        background: #ffffff;
        padding: .666em 2%;
        display: none;
    }

    /* Visualization of statistics distribution, as seen with CZ.NIC NetMetr */
    .distribution {
        width: 100%;
        height: 5px;
        position: relative;
        padding: 0;
        border: 1px solid white
    }
</style>
{% endblock %}

{% block content %}

<h3>{{ Lang.recent_tests }}</h3>
<div class="testdata-content">

     <table id="verlauf" class="dont-stack">

                        <thead>
                            <tr>
                                <th scope="col">{{ Lang.time }}</th>
                                <th scope="col">{{ Lang.operator }}/<wbr>{{ Lang.device }}</th>
                                <th scope="col" class="right">{{ Lang.down }} ({{ Lang.mbps }})</th>
                                <th scope="col" class="right">{{ Lang.up }} ({{ Lang.mbps }})</th>
                                <th scope="col" class="right">{{ Lang.ping }} ({{ Lang.ms }})</th>
                                <th scope="col" class="right">{{ Lang.signal }} ({{ Lang.dBm }})</th>
                            </tr>
                        </thead>
                        <tbody>
                          
                        </tbody>
                        <tfoot>
                        <tr><td colspan="6">
                            <a class="btn btn-default" href="Opentests">{{ Lang.further_tests }}</a>
                        </td>
                        </tr>
                        </tfoot>
                    </table>
    
    

</div>



<div class="clear"><!-- --></div>
    <div id="statistics_failure">
        {{ Lang.statistics_content.failure }}
    </div>
    <div id="statistics_container">
        <h2>{{ Lang.statistics }}</h2>
        <div id="spinner"></div>
        <div class="hinweis">
            <p>{{ Lang.statistics_content.teaser }}</p>
        </div>

        <form class="form-inline">
            <fieldset>
                <div class="form_line">
                    <label for="country">{{ Lang.statistics_content.operators_from }} </label>
                    <select class="form-control" id="country" onchange="requestBrowserData('RMBTstatistics');">
                        <option value="null">{{ Lang.austria }}</option>
                    </select>
                    <select class="form-control" id="province" onchange="requestBrowserData('RMBTstatistics');">
                        <option value="null">{{ Lang.statistics_content.all_states }}</option>
                        <option value="1">{{ Lang.statistics_content.burgenland }}</option>
                        <option value="2">{{ Lang.statistics_content.carinthia }}</option>
                        <option value="3">{{ Lang.statistics_content.lower_austria }}</option>
                        <option value="4">{{ Lang.statistics_content.upper_austria }}</option>
                        <option value="5">{{ Lang.statistics_content.salzburg }}</option>
                        <option value="6">{{ Lang.statistics_content.styria }}</option>
                        <option value="7">{{ Lang.statistics_content.tyrol }}</option>
                        <option value="8">{{ Lang.statistics_content.vorarlberg }}</option>
                        <option value="9">{{ Lang.statistics_content.vienna }}</option>
                    </select>
                    <a href="https://www.netztest.at/redirect/{{ Lang.lang }}/help_result" class="btn btn-default">?</a>
                </div>
            </fieldset>
        </form>


        <form class="form-inline">
            <div class="statistik search_form">
                <fieldset>
                    <div class="form-group">
                        <label for="statistik_type">{{ Lang.type }}</label>
                        <select class="form-control" id="statistik_type" name="statistik_type"
                                onchange="requestBrowserData('RMBTstatistics');">
                            <option value="mobile">{{ Lang.mobile }}</option>
                            <option value="wifi">{{ Lang.wifi_test }}</option>
                            <option value="browser">{{ Lang.browser }}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="statistik_duration">{{ Lang.time_span }}</label>
                        <select class="form-control" id="statistik_duration" name="statistik_duration"
                                onchange="requestBrowserData('RMBTstatistics');">
                            <option value="1">{{ Lang.24_hours }}</option>
                            <option value="7">{{ Lang.1_week }}</option>
                            <option value="30" id="statistik_duration_default_world">{{ Lang.1_month }}</option>
                            <option value="90" id="statistik_duration_default_at"
                                    selected="selected">{{ Lang.X_months | replace("%X%","3") }}</option>
                            <option value="180">{{ Lang.X_months | replace("%X%","6") }}</option>
                            <option value="365">{{ Lang.1_year }}</option>
                            <option value="730">{{ Lang.X_years | replace("%X%","2") }}</option>
                            <option value="1095">{{ Lang.X_years | replace("%X%","3") }}</option>
                            <option value="1460">{{ Lang.X_years | replace("%X%","4") }}</option>
                        </select>
                    </div>


                    <a href="#" id="show_more_button" class="btn btn-default"
                       data-alternate="{{ Lang.less }} &#x25b2;">{{ Lang.more }} &#x25bc;</a>

                    <div class="additional-fields" style="display:none;">
                        <div id="statistik_network_type_group_form_line" class="form-group">
                            <label for="statistik_network_type_group">{{ Lang.technology }}</label>
                            <select class="form-control" id="statistik_network_type_group"
                                    name="statistik_network_type_group"
                                    onchange="requestBrowserData('RMBTstatistics');">
                                <option value="all" selected="selected">{{ Lang.all }}</option>
                                <option value="2G">2G</option>
                                <option value="3G">3G</option>
                                <option value="4G">4G</option>
                                <option value="mixed">{{ Lang.mixed }}</option>
                            </select>
                        </div>
                        <div class="form-group">

                            <label for="statistik_quantile">{{ Lang.quantile }}</label>
                            <select class="form-control" id="statistik_quantile" name="statistik_quantile"
                                    onchange="requestBrowserData('RMBTstatistics');">
                                <option value="0.2">20%</option>
                                <option value="0.5" selected="selected">50%</option>
                                <option value="0.8">80%</option>
                            </select>
                        </div>
                        <div id="statistik_location_accuracy_form_line" class="form-group">
                            <label for="statistik_location_accuracy">{{ Lang.location_accuracy }}</label>
                            <select class="form-control" id="statistik_location_accuracy"
                                    name="statistik_location_accuracy"
                                    onchange="requestBrowserData('RMBTstatistics');">
                                <option value="-1">{{ Lang.any }}</option>
                                <option value="10000">&lt; {{ Lang.X_km | replace("%X%","10") }}</option>
                                <option value="2000" selected="selected">
                                    &lt; {{ Lang.X_km | replace("%X%","2") }}</option>
                                <option value="100">&lt; {{ Lang.X_m | replace("%X%","100") }}</option>
                            </select>
                        </div>

                        <div id="statistik_enddate_form_line" class="form-group">
                            <label for="statistik_enddate">{{ Lang.statistics_content.enddate }}</label>
                            <input type="date" class="form-control" id="statistik_enddate" placeholder="2015-01-01"
                                   onchange="requestBrowserData('RMBTstatistics');"/>
                        </div>
                    </div>

                </fieldset>
            </div>
        </form>

        {%  raw %}
        <script type="text/x-handlebars-template" id="statisticsTemplate">
            <table id="{{ id }}" class="{{#unless onlyCaptions}}tablesorter{{/unless}}">
                <colgroup>
                    <col width="25%"/>
                    <col/>
                    <col/>
                    <col/>
                    <col/>
                    <col/>
                </colgroup>
                <thead>
                <tr>

                    {{#unless onlyCaptions }}<th scope="col">{% endraw %}{{ Lang.name }}{% raw %}</th>{{/unless }}{% endraw %}
                    <th scope="col" class="right">{{ Lang.down }}</th>
                    <th scope="col" class="right">{{ Lang.up }}</th>
                    <th scope="col" class="right">{{ Lang.ping }}</th>
                    <th scope="col" class="right test-network-signal">{{ Lang.signal }}</th>
                    <th scope="col" class="right">{{ Lang.quantity }}</th>
                    {%  raw %}
                </tr>
                </thead>
                <tbody id="statistik_provider_body">
                {{#each providers}}
                {{#if ../onlyCaptions  }}
                <tr>
                    <td colspan="5" class="provider-name"> {{ name }}</td>
                </tr>
                {{/if  }}
                <tr>
                    {{#unless ../onlyCaptions }}
                    <td> {{#if ../../useShortNames  }}{{ shortname }}{{ else }}{{ name }}{{/if }}</td>
                    {{/unless }}
                    <td class="align-right quantile">
                        <div>{{ formatNumberSignificant (divideBy quantile_down 1000) }} {% endraw %}{{ Lang.mbps }}{% raw %}
                            <div class="distribution">
                                <div style="width:{{ multiplyBy down_ultragreen 100 }}%;background-color:#359314;height:100%;float:left"></div>
                                <div style="width:{{ multiplyBy down_green 100 }}%;background-color:#45c317;height:100%;float:left"></div>
                                <div style="width:{{ multiplyBy down_yellow 100 }}%;background-color:#f2ff26;height:100%;float:left"></div>
                                <div style="width:{{ multiplyBy down_red 100 }}%;background-color:#ec411f;height:100%;float:left"></div>
                            </div>
                            <div id="key_down" class="quantile_details">
                                {{#if ../shortNames }}{{ shortname }}{{ else }}{{ name }}{{/if }}<br/>
                                {{ formatNumberSignificant (divideBy quantile_down 1000) }} {% endraw %}{{ Lang.mbps }}{% raw %} <br/>
                                <span class="ultragreen">{{ percent down_ultragreen }}</span>
                                <span class="green">{{ percent down_green }}</span>
                                <span class="yellow">{{ percent down_yellow }}</span>
                                <span class="red">{{ percent down_red }}</span>
                            </div>
                        </div>
                    </td>
                    <td class="align-right quantile">
                        <div>{{ formatNumberSignificant (divideBy quantile_up 1000) }} {% endraw %}{{ Lang.mbps }}{% raw %}
                            <div class="distribution">
                                <div style="width:{{ multiplyBy up_ultragreen 100 }}%;background-color:#359314;height:100%;float:left"></div>
                                <div style="width:{{ multiplyBy up_green 100 }}%;background-color:#45c317;height:100%;float:left"></div>
                                <div style="width:{{ multiplyBy up_yellow 100 }}%;background-color:#f2ff26;height:100%;float:left"></div>
                                <div style="width:{{ multiplyBy up_red 100 }}%;background-color:#ec411f;height:100%;float:left"></div>
                            </div>
                            <div id="key_up" class="quantile_details">
                                {{ name }}<br/>
                                Up: {{ formatNumberSignificant (divideBy quantile_up 1000) }} {% endraw %}{{ Lang.mbps }}{% raw %} <br/>
                                <span class="ultragreen">{{ percent up_ultragreen }}</span>
                                <span class="green">{{ percent up_green }}</span>
                                <span class="yellow">{{ percent up_yellow }}</span>
                                <span class="red">{{ percent up_red }}</span>
                            </div>
                        </div>
                    </td>
                    <td class="align-right quantile">
                        <div>{{ formatNumberSignificant (divideBy quantile_ping 1000000) }} {% endraw %}{{ Lang.ms }}{% raw %}
                            <div class="distribution">
                                <div style="width:{{ multiplyBy ping_ultragreen 100 }}%;background-color:#359314;height:100%;float:left"></div>
                                <div style="width:{{ multiplyBy ping_green 100 }}%;background-color:#45c317;height:100%;float:left"></div>
                                <div style="width:{{ multiplyBy ping_yellow 100 }}%;background-color:#f2ff26;height:100%;float:left"></div>
                                <div style="width:{{ multiplyBy ping_red 100 }}%;background-color:#ec411f;height:100%;float:left"></div>
                            </div>
                            <div id="key_ping" class="quantile_details">
                                {{ name }}<br/>
                                Ping: {{ formatNumberSignificant (divideBy quantile_ping 1000000) }} {% endraw %}{{ Lang.mbps }}{% raw %} <br/>
                                <span class="ultragreen">{{ percent ping_ultragreen }}</span>
                                <span class="green">{{ percent ping_green }}</span>
                                <span class="yellow">{{ percent ping_yellow }}</span>
                                <span class="red">{{ percent ping_red }}</span>
                            </div>
                        </div>
                    </td>
                    <td class="align-right quantile test-network-signal">
                        {{#if  quantile_signal}}
                        <div>{{ quantile_signal }} {% endraw %}{{ Lang.dBm }}{% raw %}
                            <div class="distribution">
                                <div style="width:{{ multiplyBy signal_ultragreen 100 }}%;background-color:#359314;height:100%;float:left"></div>
                                <div style="width:{{ multiplyBy signal_green 100 }}%;background-color:#45c317;height:100%;float:left"></div>
                                <div style="width:{{ multiplyBy signal_yellow 100 }}%;background-color:#f2ff26;height:100%;float:left"></div>
                                <div style="width:{{ multiplyBy signal_red 100 }}%;background-color:#ec411f;height:100%;float:left"></div>
                            </div>
                            <div id="key_signal" class="quantile_details signal_details">
                                {{ name }}<br />
                                Signal: {{ quantile_signal }}  {% endraw %}{{ Lang.dBm }}{% raw %}<br />
                                <span class="ultragreen">{{ percent signal_ultragreen }}</span>
                                <span class="green">{{ percent signal_green }}</span>
                                <span class="yellow">{{ percent signal_green }}</span>
                                <span class="red">{{ percent signal_green }}</span>
                                </div>
                            </div>
                        {{ else }}
                        -
                        {{/if }}
                    </td>
                    <td class="align-right"><a href="Opentests?{{ query_opendata }}">{{ formatNumber count }}</a></td>
                    </tr>
                {{/each }}
                </tbody>

                <tfoot id="statistik_provider_foot1">
                {{#if providers }}
                <tr>
                    {{#unless onlyCaptions }}<th scope="col"></th>{{/unless }}
                    <th class="align-right quantile">
                        <div>{{ formatNumberSignificant (divideBy providers_sums.quantile_down 1000) }} {% endraw %}{{ Lang.mbps }}{% raw %}
                            <div id="sum_down" class="quantile_details">
                                {% endraw %}{{ Lang.statistics_content.all_operators }}{% raw %} <br/>
                                Down: {{ formatNumberSignificant (divideBy providers_sums.quantile_down 1000) }} {% endraw %}{{ Lang.mbps }}{% raw %} <br/>
                                <span class="ultragreen">{{ percent providers_sums.down_ultragreen }}</span>
                                <span class="green">{{ percent providers_sums.down_green }}</span>
                                <span class="yellow">{{ percent providers_sums.down_yellow }}</span>
                                <span class="red">{{ percent providers_sums.down_red }}</span>
                            </div>
                        </div>
                    </th>
                    <th class="align-right quantile">
                        <div>{{ formatNumberSignificant (divideBy providers_sums.quantile_up 1000) }} {% endraw %}{{ Lang.mbps }}{% raw %}
                            <div id="sum_up" class="quantile_details">
                                {% endraw %}{{ Lang.statistics_content.all_operators }}{% raw %} <br/>
                                Up: {{ formatNumberSignificant (divideBy providers_sums.quantile_up 1000)}} {% endraw %}{{ Lang.mbps }}{% raw %} <br/>
                                <span class="ultragreen">{{ percent providers_sums.up_ultragreen }}</span>
                                <span class="green">{{ percent providers_sums.up_green }}</span>
                                <span class="yellow">{{ percent providers_sums.up_yellow }}</span>
                                <span class="red">{{ percent providers_sums.up_red }}</span>
                            </div>
                        </div>
                    </th>
                    <th class="align-right quantile">
                        <div>{{ formatNumberSignificant (divideBy providers_sums.quantile_ping 1000000) }} {% endraw %}{{ Lang.ms }}{% raw %}
                            <div id="sum_ping" class="quantile_details">
                                {% endraw %}{{ Lang.statistics_content.all_operators }}{% raw %}  <br/>
                                Ping: {{ formatNumberSignificant (divideBy providers_sums.quantile_ping 1000000) }} {% endraw %}{{ Lang.ms }}{% raw %} <br/>
                                <span class="ultragreen">{{ percent providers_sums.ping_ultragreen }}</span>
                                <span class="green">{{ percent providers_sums.ping_green }}</span>
                                <span class="yellow">{{ percent providers_sums.ping_yellow }}</span>
                                <span class="red">{{ percent providers_sums.ping_red }}</span>
                            </div>
                        </div>
                    </th>
                    <th class="align-right quantile test-network-signal">
                        <div>{{#if providers_sums.quantile_signal}}
                            {{ providers_sums.quantile_signal }} {% endraw %}{{ Lang.dBm }}{% raw %}
                            <div id="sum_signal" class="quantile_details">
                                {% endraw %}{{ Lang.statistics_content.all_operators }}{% raw %}  <br/>
                                Signal: {{ providers_sums.quantile_signal }}<br/>
                                <span class="ultragreen">{{ percent providers_sums.signal_ultragreen }}</span>
                                <span class="green">{{ percent providers_sums.signal_green }}</span>
                                <span class="yellow">{{ percent providers_sums.signal_yellow }}</span>
                                <span class="red">{{ percent providers_sums.signal_red }}</span>
                            </div>
                            {{ else }}
                            -
                            {{/if }}
                        </div>
                    </th>
                    <th scope="col" class="align-right">{{ formatNumber providers_sums.count }}</th>
                </tr>
                {{else}}
                <tr>
                    <th colspan="{{#if onlyCaptions }}5{{ else }}6{{/if }}"> {% endraw %}{{ Lang.statistics_content.no_operators }}{% raw %} </th>
                </tr>
                {{/if }}
                </tfoot>
            </table>
        </script>
        {% endraw %}

        <div id="statistik_provider_container"></div>

        <div id="statistik_provider_captions_container"></div>

        <div id="statistik_provider_short_container"></div>

        <p>{{ Lang.statistics_content.disclaimer }}</p>

        <h3>{{ Lang.devices }}</h3>
        <table id="statistik_devices" class="tablesorter dont-stack">
            <colgroup>
                <col width="25%"/>
                <col/>
                <col/>
                <col/>
                <col/>
            </colgroup>
            <thead>
            <tr>
                <th scope="col">{{ Lang.name }}</th>
                <th>{{ Lang.down }}</th>
                <th scope="col" class="right">{{ Lang.up }}</th>
                <th scope="col" class="right">{{ Lang.ping }}</th>
                <th scope="col" class="right">{{ Lang.quantity }}</th>
            </tr>
            </thead>
            <tbody id="statistik_devices_body">

            </tbody>

            <tfoot id="statistik_devices_foot">

            </tfoot>

        </table>
        <div class="opendata-info">
            <p>{{ Lang.statistics_content.opendata_disclaimer }}</p>
        </div>
    </div>

{% endblock %}