{% extends basetemplate %}
{% set title = Lang.test %}

{% block headerscriptingExtended %}
<link rel="stylesheet" href="../css/test.css">

<script src="../js/vendor/modernizr-2.6.1.min.js"></script>

<script type="text/javascript">
    if (preferredTest === TestTypes.Java || getParam("Java"))
        document.writeln('<script type="text/javascript" src="../lib/deployJava.js"><\/script>');
</script>
<script type="text/javascript" src="../js/test/geolocation.js"></script>
<script type="text/javascript" src="../js/test/TestVisualization.js"></script>
<script type="text/javascript" src="../js/Test.js"></script>
<script type="text/javascript" src="../js/test/TestDatastructures.js"></script>
<script type="text/javascript" src="../js/test/WebsockettestDatastructures.js"></script>
<script type="text/javascript" src="../js/test/WebsockettestHelpers.js"></script>
<script type="text/javascript" src="../js/test/Websockettest.js"></script>


<style>
    @media only screen and  (max-width: 960px)  {
        .hgwrapper {
            width: 560px !important;
        }
    }
</style>
{% endblock %}

{% block viewport %}
<meta name="viewport" content="width=595" />
{% endblock %}

{% block content %}
<div id="test_container">
<div id="noJavaWarning"></div>
<div id="androidApp"></div>
<div id="iOSApp"></div>
<div id="dashboard" style="display:none;">
    <div id="gauge">
        <div id="result-table">
            <table class="dont-stack">
                <colgroup>
                    <col class="table-label" />
                    <col />
                </colgroup>
                <tr>
                    <td>Status:</td>
                    <td>
                        <div id="infostatus">
                            -
                        </div><div id="activity-indicator"></div></td>
                </tr>
                <tr>
                    <td>Ping:</td>
                    <td id="showPing">-</td>
                </tr>
                <tr>
                    <td>Down:</td>
                    <td id="showDown">-</td>
                </tr>
                <tr class="last-line">
                    <td>Up:</td>
                    <td id="showUp">-</td>
                </tr>

            </table>
        </div>
        <div id="overlay"></div>
        <canvas id="canvas-progress" width="300" height="300"></canvas>
        <canvas id="canvas-downup" width="300" height="300"></canvas>

        <div id="info-table">
            <table class="dont-stack">
                <colgroup>
                    <col class="table-label" />
                    <col class="table-value" />
                </colgroup>
                <tr>
                    <td>{{ Lang.coordinates }}:</td>
                    <td class="val" id="infogeo">-
                        <br/>
                        &nbsp;</td>
                </tr>
                <tr>
                    <td>Testserver:</td>
                    <td class="val" id="infoserver">-
                        <br/>
                        &nbsp;</td>
                </tr>
                <tr>
                    <td>IP:</td>
                    <td class="val" id="infoip">-</td>
                </tr>
                <tr class="last-line">
                    <td>{{ Lang.provider }}:</td>
                    <td class="val" id="infoprovider">-</td>
                </tr>
            </table>
        </div>

    </div>

</div>
<div id="dashboard_easy" style="display:none">
    <div id="result-table">
        <table class="dont-stack">
            <colgroup>
                <col class="table-label" />
                <col />
            </colgroup>
            <tr>
                <td>Progress:</td>
                <td><div id="progbar" style="width: 1px; height: 10px;"></div></td>
            </tr>
            <tr>
                <td>Download speed:</td>
                <td><div id="dlbar" style="width: 1px; height: 10px;"></div></td>
            </tr>
            <tr>
                <td>Upload speed:</td>
                <td><div id="ulbar" style="width: 1px; height: 10px;"></div></td>
            </tr>
            <tr>
                <td>Status:</td>
                <td>
                    <div id="infostatus">
                        -
                    </div><div id="activity-indicator"></div></td>
            </tr>
            <tr>
                <td>Ping:</td>
                <td id="showPing">-</td>
            </tr>
            <tr>
                <td>Down:</td>
                <td id="showDown">-</td>
            </tr>
            <tr>
                <td>Up:</td>
                <td id="showUp">-</td>
            </tr>
            <tr>
                <td>{{ Lang.coordinates }}:</td>
                <td class="val" id="infogeo">-</td>
            </tr>
            <tr>
                <td>Testserver:</td>
                <td class="val" id="infoserver">-</td>
            </tr>
            <tr>
                <td>IP:</td>
                <td class="val" id="infoip">-</td>
            </tr>
            <tr>
                <td>{{ Lang.provider }}:</td>
                <td class="val" id="infoprovider">-</td>
            </tr>

        </table>
    </div>
</div>
<div id="loading-placeholder">
    <h2>Test framework is loading...</h2>
</div>
<noscript>
    <div id="error_placeholder">
        <h2>The qostest.eu could not be loaded</h2>
        Please activate JavaScript!
    </div>
</noscript>

<!--
<div id="chart">Chart</div>
-->
</div> <!-- test_container -->
<!-- Site or application content end -->

<!-- S<script src="../js/jquery-1.8.2.min.js"></script>
<script>
window.jQuery || document.write('<script src="../js/jquery-1.8.2.min.js"><\/script>')
</script>-->
<script src="../js/plugins.js"></script>
{% endblock %}