{% extends basetemplate %}
{% set title = Lang.loop_mode %}

{% block headerscriptingExtended %}
    <link rel="stylesheet" href="../{{ fingerprint["css/test.css"] }}">

    <script src="../{{ fingerprint["js/vendor/modernizr-2.6.1.min.js"] }}"></script>
    <script type="text/javascript" src="../{{ fingerprint["lib/rmbtws.min.js"] }}"></script>
    <script type="text/javascript" src="../{{ fingerprint["lib/moment.min.js"] }}"></script>
    <script type="text/javascript" src="../{{ fingerprint["lib/handlebars.min.js"] }}"></script>
    <script type="text/javascript" src="../{{ fingerprint["lib/jquery.validate.min.js"] }}"></script>
    <script type="text/javascript" src="../{{ fingerprint["lib/client-compress.min.js"] }}"></script>
    <script type="text/javascript" src="../{{ fingerprint["js/ZertMessung.js"] }}"></script>
    <script type="text/javascript" src="../{{ fingerprint["js/Loop.js"] }}"></script>
    <script>
        repetitions = 8;
        waitingTime = 15*60;
        certTest = true;
    </script>

    <style>
        input.form-control {
            background-color: white;
        }

        .loader {
            border: 2px solid #c3c3c3;
            border-top: 2px solid #59b200;
            border-radius: 50%;
            width: 15px;
            height: 15px;
            animation: loader-spin 2s linear infinite;
            float: left;
            margin-right: 10px;
            margin-top: 3px;
            display: none;
        }

        @keyframes loader-spin {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }

        .progress-bar.inactive {
            background-color: #545454;
        }

        tr.median {
            font-weight: bold;
        }

        #loop-mode, #loop-mode-form-container, #infofinished, #infofailed {
            display: none;
        }
    </style>

{% endblock %}

{% block content %}

        <div class="steps">
            <style>
                /* https://codepen.io/tomek8899/pen/obJsu */
                /* Second try, as RTR design is not suitable for retina displays */

                .breadCrumbs {
                    position: relative;
                    padding-left: 0 !important;
                }

                .breadCrumbs li {
                    position: relative;
                    float: left;
                    border-left: none !important;
                    padding-left: 0 !important;
                }

                .breadCrumbs li a,
                .breadCrumbs li p {
                    display: block;
                    padding: 0 10px 0 30px;
                    line-height: 30px;
                    font-size: 10pt;
                    color: #545454 !important;
                    background: white;
                }

                .breadCrumbs li:first-child a {
                    padding: 0 10px 0 20px;
                }

                .breadCrumbs li:last-child a {
                    padding-right: 20px;
                }

                .breadCrumbs li a:hover {

                }

                .breadCrumbs li.activePage p,
                .breadCrumbs li.activePage a {
                    background: #333;
                }

                .breadCrumbs li:after {
                    content: '';
                    position: absolute;
                    top: 0;
                    right: -14.5px;
                    display: block;
                    width: 0;
                    height: 0;
                    border-top: 15px solid transparent;
                    border-bottom: 15px solid transparent;
                    border-left: 15px solid white;
                    z-index: 10;
                }

                .breadCrumbs li:last-child:after {
                    border:none;
                }

                .breadCrumbs li.visitedPage a,
                .breadCrumbs li.visitedPage p {
                    background-color: #bebab0;
                }

                .breadCrumbs li.visitedPage:after {
                    border-left-color: #bebab0;
                }

                .breadCrumbs li.activePage a,
                .breadCrumbs li.activePage p {
                    background-color: #59b200;
                    color: white !important;
                }

                .breadCrumbs li.activePage:after {
                    border-left-color: #59b200;
                }

                .upload input+input {
                    margin-top: 1em;
                }

            </style>
            <ul class="breadCrumbs">
                <li class="breadCrumb-intro"><a>1. {{ Lang.certified_measurement_content.info }}</a></li>
                <li class="breadCrumb-intermediate"><a>2. {{ Lang.certified_measurement_content.data }}</a></li>
                <li class="breadCrumb-additional"><a>3. {{ Lang.certified_measurement_content.environment }}</a></li>
                <li class="breadCrumb-measurement"><a>4. {{ Lang.certified_measurement_content.measurement }}</a></li>
                <li class="breadCrumb-report"><a>5. {{ Lang.certified_measurement_content.result }}</a></li>
            </ul>
</div>

    <h2 id="h2">{{ Lang.certified_measurement }}</h2>
    <!-- <div id="loading-placeholder">
        <h2>Test framework is loading...</h2>
    </div>-->

    <div id="intro-container">
        <p>{{ Lang.certified_measurement_content.introduction_desc }}</p>
        <h3>{{ Lang.certified_measurement_content.introduction_instruction}}</h3>
        <p class="preface">{{ Lang.certified_measurement_content.introduction_instruction_desc}}<p>
        </p>
        <p>
            {{ Lang.certified_measurement_content.please_note }}
        <ul>
            <li>
                {{ Lang.certified_measurement_content.note_browser }}
            </li>
            <li>
                {{ Lang.certified_measurement_content.note_no_other_usage }}
            </li>
            <li>
                {{ Lang.certified_measurement_content.note_no_other_users }}
            </li>
        </ul>
        </p>
        <h3>{{ Lang.certified_measurement_content.process }}</h3>
        <p>
            {{ Lang.certified_measurement_content.process_desc }}
        </p>
        <p>
            {{ Lang.certified_measurement_content.questions_desc }}
        </p>
        <p>
            <button type="submit" class="btn btn-primary">{{ Lang.next }}</button>
        </p>
    </div>

    <div id="intermediate-container" style="display:none">
        <h3>{{ Lang.certified_measurement_content.basic_information }}</h3>
        <form id="intermediate-form">
            <div class="form-group">
                <label for="title_prepend">{{ Lang.certified_measurement_content.title_prepended }}</label>
                <input id="title_prepend" name="title_prepend" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="first_name">{{ Lang.certified_measurement_content.first_name }}*</label>
                <input id="first_name" name="first_name" type="text" class="form-control"
                       required="required">
            </div>
            <div class="form-group">
                <label for="last_name">{{ Lang.certified_measurement_content.last_name }}*</label>
                <input id="last_name" name="last_name" type="text" class="form-control" required="required">
            </div>
            <div class="form-group">
                <label for="title_append">{{ Lang.certified_measurement_content.title_appended }}</label>
                <input id="title_append" name="title_append" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="address">{{ Lang.certified_measurement_content.location }}*</label>
                <textarea id="address" name="address" cols="40" rows="2" class="form-control"
                          aria-describedby="textareaHelpBlock" required="required"></textarea>
                <span id="textareaHelpBlock" class="form-text text-muted help-block">{{ Lang.certified_measurement_content.location_desc }}</span>
            </div>

            <div class="form-group">
                <label>{{ Lang.certified_measurement_content.first_cycle_question }}*</label>
                <div class="radio">
                    <label for="first">
                        <input name="first" id="first" type="radio" value="y" checked="checked" />
                        {{ Lang.certified_measurement_content.yes_first_cycle }}</label>
                    <!-- <p id="furter-input" style="display:none">
                        In diesem Fall ersuchen wir Sie, im nächsten Schritt einige weitere Fragen zu beantworten.
                    </p> -->
                </div>
                <div class="radio">
                    <label for="not_first">
                        <input name="first" id="not_first" type="radio" value="n" />
                        {{ Lang.certified_measurement_content.no_subsequent_cycle }}</label>
                </div>
                <div class="form-group">
                    <p>
                        <button type="submit" class="btn btn-primary"  data-next="{{ Lang.next }}" data-start="{{ Lang.certified_measurement_content.start_measurement }}" >{{ Lang.next }}</button>
                    </p>
                </div>
            </div>

        </form>

    </div>



    <div id="additional-information-container" style="display: none">

        <div id="additional-information">
            <h3>{{ Lang.certified_measurement_content.additional_information }}</h3>
            <div class="certified-form">
                <p>
                    {{ Lang.certified_measurement_content.additional_information_desc }}
                </p>
                <form id="additional-information-form">
                    <div class="form-group" id="location_form_group">
                        <label>{{ Lang.certified_measurement_content.location_access }}*</label>
                        <div>
                            <div class="custom-controls-stacked">
                                <div class="checkbox">
                                    <label for="location_type_0">
                                        <input name="location_type_0" id="location_type_0"
                                               type="checkbox"
                                               value="s1">
                                        {{ Lang.certified_measurement_content.location_access_residential }}</label>
                                </div>
                            </div>
                            <div class="custom-controls-stacked">
                                <div class="checkbox">
                                    <label for="location_type_1">
                                        <input name="location_type_1" id="location_type_1"
                                               type="checkbox"
                                               value="s2">
                                        {{ Lang.certified_measurement_content.location_access_single_family }}</label>
                                </div>
                            </div>
                            <div class="custom-controls-stacked">
                                <div class="checkbox">
                                    <label for="location_type_2">
                                        <input name="location_type_2" id="location_type_2"
                                               type="checkbox"
                                               value="s3">
                                        {{ Lang.certified_measurement_content.location_access_urban }}</label>
                                </div>
                            </div>
                            <div class="custom-controls-stacked">
                                <div class="checkbox">
                                    <label for="location_type_3">
                                        <input name="location_type_3" id="location_type_3"
                                               type="checkbox"
                                               value="s4">
                                        {{ Lang.certified_measurement_content.location_access_rural }}</label>
                                </div>
                                <div class="checkbox form-group-sm">
                                    <label for="location_type_4" class="custom-control-label row">
                                        <input name="location_type_4" id="location_type_4"
                                               type="checkbox"
                                               value="s4"/>
                                        {{ Lang.certified_measurement_content.location_access_other }}:
                                        <input type="text" name="location_type_other" class="form-control col-xs-10"
                                               placeholder="{{ Lang.certified_measurement_content.location_access_other }}" disabled="disabled"/></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="type_text">{{ Lang.certified_measurement_content.access_type }}</label>
                        <textarea id="type_text" name="type_text" cols="40" rows="5"
                                  class="form-control"
                                  aria-describedby="type_textHelpBlock"></textarea>
                        <span id="type_textHelpBlock" class="form-text text-muted help-block">{{ Lang.certified_measurement_content.access_type_desc }}</span>
                    </div>
                    <div class="form-group">
                        <label for="test-device">{{ Lang.certified_measurement_content.test_device }}</label>
                        <textarea id="test-device" name="test_device" cols="40" rows="3"
                                  class="form-control" aria-describedby="test-deviceHelpBlock"></textarea>
                        <span id="test-deviceHelpBlock" class="form-text text-muted help-block">{{ Lang.certified_measurement_content.test_device_desc }}</span>
                    </div>
                    <div class="form-group upload">
                        <label for="test-pictures">{{ Lang.certified_measurement_content.photo_upload }}</label>
                        <input id="test-pictures" type="file" multiple="multiple" name="test_pictures[]" accept="image/*"  />
                        <span id="test-deviceHelpBlock" class="form-text text-muted help-block">{{ Lang.certified_measurement_content.photo_upload_desc }}</span>
                    </div>

                    <div class="form-group">
                        <button name="submit" type="submit" class="btn btn-primary">{{ Lang.certified_measurement_content.start_measurement }}</button>
                    </div>
                    <hr/>
                </form>
            </div>
        </div>
    </div>
    <div id="loop-mode" style="display: none">

        <h3>{{ Lang.certified_measurement_content.conducting_measurements }}</h3>
        <p>
            Test <span id="testcount">0</span>/<span id="teststotal">8</span>
        </p>

        <div class="progress">
            <div id="testprogress" class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"
                 style="min-width: 3em;width: 0%">
                0%
            </div>
        </div>
        <div id="infocurrent">
            <p>
            <div class="row">
                <div class="col-sm-3">{{ Lang.state }}</div>
                <div class="col-sm-9" id="infostatus">-</div>
            </div>
            </p>
            <p>
            <div class="row inforow">
                <div class="col-sm-3">{{ Lang.ping }}</div>
                <div class="col-sm-9" id="infoping"><div class="loader"></div> <span>-</span></div>
            </div>
            <div class="row inforow">
                <div class="col-sm-3">{{ Lang.download }}</div>
                <div class="col-sm-9" id="infodown"><div class="loader"></div> <span>-</span></div>
            </div>
            <div class="row inforow">
                <div class="col-sm-3">{{ Lang.upload }}</div>
                <div class="col-sm-9" id="infoup"><div class="loader"></div> <span>-</span></div>
            </div>
            </p>

        </div>

        <h3>{{ Lang.certified_measurement_content.measurements }}</h3>
        <table class="dont-stack">
            <colgroup>
                <col/>
                <col/>
                <col/>
                <col/>
            </colgroup>
            <thead>
            <tr>
                <th scope="col">{{ Lang.time }}</th>
                <th scope="col" class="align-right">{{ Lang.down }} ({{ Lang.mbps }})</th>
                <th scope="col" class="align-right">{{ Lang.up }} ({{ Lang.mbps }})</th>
                <th scope="col" class="align-right">{{ Lang.ping }} ({{ Lang.ms }})</th>
            </tr>
            </thead>
            <tbody id="verlauf_tbody">

            <tr class="median">
                <td>Median</td>
                <td class="align-right" id="mediandown">-</td>
                <td class="align-right" id="medianup">-</td>
                <td class="align-right" id="medianping">-</td>
            </tr>
            </tbody>
        </table>
        {%  raw %}
            <script id="resultTemplate" type="text/x-handlebars-template">
                {{#if error }}
                <tr class="test-result-error">
                    <td>
                    {{#if fullDate }}
                    {{ formatFullDate time }}
                    {{ else }}
                    {{ formatDate time }}
                    {{/if }}
                    </td>
                    <td colspan="3">{% endraw %}{{ Lang.loop_mode_content.error_during_test }}{% raw %}</td>
                </tr>
                {{ else }}
                <tr class="test-result">
                    <td>
                        <a href="Verlauf?{{ testUUID }}" target="_blank">{{#if fullDate }}
                            {{ formatFullDate time }}
                            {{ else }}
                            {{ formatDate time }}
                            {{/if }}</a>
                    </td>
                    <td class="align-right">{{ formatNumberSignificant down }}</td>
                    <td class="align-right">{{ formatNumberSignificant up }}</td>
                    <td class="align-right">{{ formatNumberSignificant ping }}</td>
                </tr>
                {{/if }}
            </script>
        {%  endraw %}
        <div>
            <h3>{{ Lang.measurement_result }}</h3>
            <div id="infonotfinished">
                <p>{{ Lang.certified_measurement_content.result_when_finished }}</p>
                <p id="plannedEnd">{{ Lang.certified_measurement_content.planned_end }}</p>
            </div>
            <div id="infofailed">
                <p>{{ Lang.certified_measurement_content.error_generating }} <a href="#">{{ Lang.certified_measurement_content.generate_new }}</a></p>
            </div>
            <div id="infofinished">
                <form id="download-link-form" method="post" style="display:inline">
                    <div class="progress" id="pdfProgressContainer">
                        <div id="pdfProgress" class="progress-bar" role="progressbar"
                             aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"
                             style="min-width: 3em;width: 0%">
                            0%
                        </div>
                    </div>
                    <p><a id="report-link" target="_blank" download="download">{{ Lang.certified_measurement_content.generating_report }}</a>
                </form>
                <p>
                    {{ Lang.certified_measurement_content.finished }}
                </p>
                <p>
                    <b>{{ Lang.certified_measurement_content.finished_desc }}</b>
                </p>
            </div>
        </div>
    </div>

{% endblock %}

{% block sideContent %}
    <!--
    <h5>Rechtliche Grundlagen</h5>
    <div class="main-aside-content-block">
        <ul>
            <li><a href="https://www.rtr.at/de/tk/TKG2003#c33745" class="internal-link" target="_blank">§ 17b TKG</a></li>
            <li><a href="https://www.rtr.at/de/tk/EUVerordnungen" class="internal-link" target="_blank">Art. 4 TSM-VO</a></li>
        </ul>
    </div><h5>Weitere Informationen</h5>
    <div class="main-aside-content-block">
        <ul>
            <li><a href="https://www.rtr.at/de/tk/netztesthilfe" class="internal-link" target="_blank">FAQ</a></li>
        </ul>
    </div> -->
{%  endblock %}