<app-header></app-header>
<app-top-nav></app-top-nav>
<app-breadcrumbs></app-breadcrumbs>
<app-scroll-top></app-scroll-top>
<div class="app-wrapper">
  <header class="app-header">
    <h1 class="app-result-h1">{{ title | translate }}</h1>
    @if (actionButtonsPosition === 'header') {
    <app-action-buttons [items]="actionButtons"></app-action-buttons>
    } @if (!loopResults) {
    <button class="app-button" mat-flat-button (click)="showSyncDialog()">
      {{ "Synchronization code" | translate }}
    </button>
    }
  </header>
</div>
@if (text$ | async; as text) {
<div class="app-subheader">
  <app-html-wrapper [html]="text">
    <ng-container header>
      @if (actionButtonsPosition === 'html-wrapper') {
      <app-action-buttons [items]="actionButtons"></app-action-buttons>
      }
    </ng-container>
  </app-html-wrapper>
</div>
}
<div class="app-wrapper">
  @if (result$ | async; as result) {
  <app-recent-history
    [addMedian]="addMedian"
    [result]="result"
    [excludeColumns]="excludeColumns"
    [grouped]="shouldGroupHistory"
    (sortChange)="changeSort($event)"
  ></app-recent-history>
  } @else if (loading()) {
  <h3>{{ "Loading results" | translate }}</h3>
  } @else {
  <h3>{{ "No results available" | translate }}</h3>
  }
</div>
<app-footer></app-footer>

@if (loading()) {
<app-loading-overlay></app-loading-overlay>
}
