<app-header></app-header>
<app-top-nav></app-top-nav>
<app-breadcrumbs></app-breadcrumbs>
<app-scroll-top></app-scroll-top>
<div class="app-wrapper">
  <header class="app-header">
    <h1>{{ title | translate }}</h1>
    <app-action-buttons [items]="actionButtons"></app-action-buttons>
  </header>
  @if (text$ | async; as text) {
  <p class="app-subheader" [innerHTML]="text"></p>
  } @if (result$ | async; as result) {
  <app-recent-history
    [result]="result"
    [grouped]="shouldGroupHistory"
    (sortChange)="changeSort($event)"
  ></app-recent-history>
  } @else if (loading) {
  <h3>{{ "Loading results" | translate }}</h3>
  } @else {
  <h3>{{ "No results available" | translate }}</h3>
  }
</div>
<app-footer></app-footer>

@if (loading) {
<app-loading-overlay></app-loading-overlay>
}
