@import "core";

.app-wrapper {
  margin-bottom: rem(56);
  margin-top: 0;
}

.app-header {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: rem(24);
}

.app-subheader {
  margin-bottom: rem(30);
}

app-action-buttons {
  margin-right: rem(16);
  margin-top: rem(4);
}
