<div class="app-wrapper">
  <h1 class="app-h1">{{ title() | translate }}</h1>
  <div class="app-article" [innerHTML]="text()"></div>
  <app-scroll-bottom [isVisible]="!isRead"></app-scroll-bottom>
  <footer class="app-footer">
    <button id="cancelButton" mat-button color="primary" (click)="cancel()">
      {{ "Cancel" | translate }}
    </button>
    <button
      id="agreeButton"
      [disabled]="!isRead"
      mat-flat-button
      type="submit"
      color="primary"
      (click)="agree()"
    >
      {{ "Agree" | translate }}
    </button>
  </footer>
</div>
