<app-header></app-header>
<app-top-nav></app-top-nav>
<app-breadcrumbs></app-breadcrumbs>
<app-certified-breadcrumbs></app-certified-breadcrumbs>
<div class="app-wrapper" style="margin-top: 48px; margin-bottom: 64px">
  <h1 class="app-title">{{ "Certified measurement" | translate }}</h1>
  <h3 class="app-subtitle">
    {{ "Basic information on the certified measurement" | translate }}
  </h3>
  @if (form) {
  <form [formGroup]="form">
    <mat-form-field appearance="outline">
      <mat-label>{{ "Title" | translate }}</mat-label>
      <input
        matInput
        type="text"
        formControlName="titlePrepend"
        name="titlePrepend"
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>{{ "First name" | translate }}</mat-label>
      <input
        matInput
        type="text"
        formControlName="firstName"
        name="firstName"
        required
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>{{ "Last name" | translate }}</mat-label>
      <input
        matInput
        type="text"
        formControlName="lastName"
        name="lastName"
        required
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>{{ "Academic degree" | translate }}</mat-label>
      <input
        matInput
        type="text"
        formControlName="titleAppend"
        name="titleAppend"
      />
    </mat-form-field>
    <mat-form-field class="app-textarea" appearance="outline">
      <mat-label>{{ "Location of the measurements" | translate }}</mat-label>
      <textarea
        matInput
        type="text"
        formControlName="address"
        name="address"
        required
      ></textarea>
    </mat-form-field>
    <h4>{{ "Is it the first measurement cycle?" | translate }}<sup>*</sup></h4>
    <mat-radio-group formControlName="isFirstCycle" name="isFirstCycle">
      <mat-radio-button [value]="true">{{
        "Yes, first cycle" | translate
      }}</mat-radio-button>
      <mat-radio-button [value]="false">{{
        "No, follow-up cycle" | translate
      }}</mat-radio-button>
    </mat-radio-group>
  </form>
  } @if (nextStepAvailable()) {
  <button
    style="margin-top: 16px"
    mat-flat-button
    class="app-button"
    (click)="onNext()"
  >
    {{ "Next" | translate }}
  </button>
  } @else if (testStartAvailable()) {
  <button
    style="margin-top: 16px"
    mat-flat-button
    class="app-button"
    (click)="onTestStart()"
  >
    {{ "Start certified measurement" | translate }}
  </button>
  }
</div>
<app-footer></app-footer>
