@if(visualization$ | async) {
<div
  id="testprogress"
  class="app-progressbar"
  role="progressbar"
  aria-valuenow="45"
  aria-valuemin="0"
  aria-valuemax="100"
  style="min-width: 3em"
  [style.width.%]="progress()"
>
  {{ progress() }}%
</div>
<table class="app-table">
  <tr class="app-row">
    <td class="app-col">{{ "Status" }}</td>
    <td class="app-col">{{ status() | translate }}</td>
  </tr>
  <tr class="app-row--separator"></tr>
  <tr class="app-row">
    <td class="app-col">{{ "Ping" | translate }}</td>
    <td class="app-col">
      <div class="app-metric">
        @if (currentPhaseName() === "PING") {
        <mat-spinner></mat-spinner>
        }
        {{ ping() }}
      </div>
    </td>
  </tr>
  <tr class="app-row">
    <td class="app-col">{{ "Download" | translate }}</td>
    <td class="app-col">
      <div class="app-metric">
        @if (currentPhaseName() === "DOWN") {
        <mat-spinner></mat-spinner>
        }
        {{ down() }}
      </div>
    </td>
  </tr>
  <tr class="app-row">
    <td class="app-col">{{ "Upload" | translate }}</td>
    <td class="app-col">
      <div class="app-metric">
        @if (currentPhaseName() === "INIT_UP" || currentPhaseName() === "UP") {
        <mat-spinner></mat-spinner>
        }{{ up() }}
      </div>
    </td>
  </tr>
  <tr class="app-row--separator"></tr>
  <tr class="app-row">
    <td class="app-col">{{ "Coordinates" | translate }}</td>
    <td class="app-col">{{ coordinates() }}</td>
  </tr>
  <tr class="app-row">
    <td class="app-col">{{ "Testserver" | translate }}</td>
    <td class="app-col">{{ testServer() }}</td>
  </tr>
  <tr class="app-row">
    <td class="app-col">{{ "IP" | translate }}</td>
    <td class="app-col">{{ ip() }}</td>
  </tr>
  <tr class="app-row">
    <td class="app-col">{{ "Provider" | translate }}</td>
    <td class="app-col">{{ provider() }}</td>
  </tr>
</table>
@if (currentPhaseName() === "END") {
<footer class="app-footer">
  <button mat-stroked-button class="app-button" (click)="restart()">
    <span class="app-form-text">{{ "New measurement" | translate }}</span>
  </button>
  <a [href]="resultUrl()" mat-stroked-button class="app-button" target="_blank">
    <span class="app-form-text">{{ "More details" | translate }}</span>
  </a>
</footer>
} }
