@import "core.scss";

.app-wrapper {
  display: block;
}

.app-title {
  display: flex;
  font-size: rem($font-size-h5);
  font-weight: bold;
  margin-bottom: 1vh;

  & > * {
    margin-right: 1ex;
  }
}

.app-spinner {
  align-self: center;
  mat-spinner {
    height: rem($font-size-h4) !important;
    width: rem($font-size-h4) !important;
    overflow: visible;
  }
}

.app-chart {
  position: relative;

  app-test-chart {
    height: rem(130);
    width: 40vw;
  }

  &--ping {
    app-test-chart {
      height: rem(90);
    }
  }

  @include screen-sm {
    app-test-chart {
      width: 80vw;
    }
  }
}

.app-table {
  font-size: rem(16);
  margin-bottom: rem(40);
  .app-row {
    padding-bottom: rem(10);
  }
  .app-cell {
    text-align: left;
  }
  th {
    color: $color-primary;
    padding-right: rem(12);
  }
}
