/* Test gauge */
/* New test design */

.gauge {
  width: 100%;
  max-width: 500px;
  height: auto;
  background: url("../images/gauge.svg");
  background-repeat: repeat;
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: no-repeat;
  background-position: 0 0;
  margin: 0 0;
  padding: 0;
  position: relative;
}


svg .gauge {
  stroke-width: 26px;
  stroke-dasharray: 0,9999;
  fill: transparent;
}

svg .gauge.active  {
  transition: stroke-dasharray 0.4s linear;
}

svg #speed.gauge.active {
  transition: stroke-dasharray 0.4s ease;
}

svg .init,
svg .ping,
svg .download,
svg .upload {
  stroke: rgb(0, 94, 174);
}

svg .speed {
  stroke: rgb(89, 178, 0);
}

.loader {
  border: 2px solid #c3c3c3;
  border-top: 2px solid #59b200;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  animation: loader-spin 2s linear infinite;
  float: left;
  margin-right: 10px;
  margin-top: 3px;
  display: none;
}

@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* responsive layout
@media (min-width: 1275px) {
  #inner-test-container {
    display: flex;
    flex-direction: row;
  }

  #infocurrent {
    align-self: flex-end;
    min-width: 350px;
  }

  #infocurrent p:last-of-type {
    margin-bottom: 0px;
  }
} */


/* Verlauf */
/*#verlauf-detailcontainer table th{
  text-align: left;
}
.testdata {
  margin-bottom: 20px;
}
.forumbanner, #data-prototype {
  display:none;
}
.forumbanner input {
  width: 100%;
}
div.olControlAttribution, div.olControlScaleLine {
  bottom: 3px;
}
div.speed-curve-graph-upload, div.speed-curve-graph-download, div.speed-curve-graph-ping, div.signal-curve-graph {
  cursor: pointer;
}
table.speed-curve, table.test-map, table.signal-curve {
  background-color: white;
}
tr.highlight {
  background-color: #eef2f4;
}
tr.header-highlight {
  background-color: #bfd1d7;
}

img {
  max-width: none !important;
}

table#testresult-detail td {
  word-break: break-all;
}

.shariff ul li {
  border: none;
  padding-left:0;
}

tr.shariff-container:hover td {
  background-color: initial !important;
}

@media print {
  .scroller-inner div.speed-curve-graph-download div, .scroller-inner div.speed-curve-graph-upload div, .scroller-inner div.signal-curve-graph div {
    background-color: transparent !important;
  }
  .scroller-inner canvas {
    background-color: transparent !important;
  }

  div.social {
    display: none;
  }
}

/* accordion *
.task-telekom .first-level [data-control]{
  background-color: white;
  color: #59b200;
}

[data-accordion].open > [data-control] {
  background-color: white !important;
}

[data-accordion] table {
  float: none;
  margin-bottom: 0;
}

[data-accordion] table thead {
  border-top: 1px solid rgb(162, 162, 162);
}

.first-level.open {
  border-bottom: none !important;
  margin-bottom: 0 !important;
} */