
/* Spritemap (https://github.com/jkphl/svg-sprite) */
.svg-2g {
  background: url("/images/sprite.css-cd0f9dd5.svg") 0 0 no-repeat;
}

.svg-2g-dims {
  width: 33px;
  height: 33px;
}

.svg-2g-0 {
  background: url("/images/sprite.css-cd0f9dd5.svg") 11.11111111111111% 0 no-repeat;
}

.svg-2g-0-dims {
  width: 33px;
  height: 33px;
}

.svg-2g-1 {
  background: url("/images/sprite.css-cd0f9dd5.svg") 0 12.5% no-repeat;
}

.svg-2g-1-dims {
  width: 33px;
  height: 33px;
}

.svg-2g-2 {
  background: url("/images/sprite.css-cd0f9dd5.svg") 11.11111111111111% 12.5% no-repeat;
}

.svg-2g-2-dims {
  width: 33px;
  height: 33px;
}

.svg-2g-3 {
  background: url("/images/sprite.css-cd0f9dd5.svg") 22.22222222222222% 0 no-repeat;
}

.svg-2g-3-dims {
  width: 33px;
  height: 33px;
}

.svg-2g-4 {
  background: url("/images/sprite.css-cd0f9dd5.svg") 22.22222222222222% 12.5% no-repeat;
}

.svg-2g-4-dims {
  width: 33px;
  height: 33px;
}

.svg-3g {
  background: url("/images/sprite.css-cd0f9dd5.svg") 0 25% no-repeat;
}

.svg-3g-dims {
  width: 33px;
  height: 33px;
}

.svg-3g-0 {
  background: url("/images/sprite.css-cd0f9dd5.svg") 11.11111111111111% 25% no-repeat;
}

.svg-3g-0-dims {
  width: 33px;
  height: 33px;
}

.svg-3g-1 {
  background: url("/images/sprite.css-cd0f9dd5.svg") 22.22222222222222% 25% no-repeat;
}

.svg-3g-1-dims {
  width: 33px;
  height: 33px;
}

.svg-3g-2 {
  background: url("/images/sprite.css-cd0f9dd5.svg") 33.333333333333336% 0 no-repeat;
}

.svg-3g-2-dims {
  width: 33px;
  height: 33px;
}

.svg-3g-3 {
  background: url("/images/sprite.css-cd0f9dd5.svg") 33.333333333333336% 12.5% no-repeat;
}

.svg-3g-3-dims {
  width: 33px;
  height: 33px;
}

.svg-3g-4 {
  background: url("/images/sprite.css-cd0f9dd5.svg") 33.333333333333336% 25% no-repeat;
}

.svg-3g-4-dims {
  width: 33px;
  height: 33px;
}

.svg-4g {
  background: url("/images/sprite.css-cd0f9dd5.svg") 0 37.5% no-repeat;
}

.svg-4g-dims {
  width: 33px;
  height: 33px;
}

.svg-4g-0 {
  background: url("/images/sprite.css-cd0f9dd5.svg") 11.11111111111111% 37.5% no-repeat;
}

.svg-4g-0-dims {
  width: 33px;
  height: 33px;
}

.svg-4g-1 {
  background: url("/images/sprite.css-cd0f9dd5.svg") 22.22222222222222% 37.5% no-repeat;
}

.svg-4g-1-dims {
  width: 33px;
  height: 33px;
}

.svg-4g-2 {
  background: url("/images/sprite.css-cd0f9dd5.svg") 33.333333333333336% 37.5% no-repeat;
}

.svg-4g-2-dims {
  width: 33px;
  height: 33px;
}

.svg-4g-3 {
  background: url("/images/sprite.css-cd0f9dd5.svg") 44.44444444444444% 0 no-repeat;
}

.svg-4g-3-dims {
  width: 33px;
  height: 33px;
}

.svg-4g-4 {
  background: url("/images/sprite.css-cd0f9dd5.svg") 44.44444444444444% 12.5% no-repeat;
}

.svg-4g-4-dims {
  width: 33px;
  height: 33px;
}

.svg-5g {
  background: url("/images/sprite.css-cd0f9dd5.svg") 44.44444444444444% 25% no-repeat;
}

.svg-5g-dims {
  width: 33px;
  height: 33px;
}

.svg-5g-0 {
  background: url("/images/sprite.css-cd0f9dd5.svg") 44.44444444444444% 37.5% no-repeat;
}

.svg-5g-0-dims {
  width: 33px;
  height: 33px;
}

.svg-5g-1 {
  background: url("/images/sprite.css-cd0f9dd5.svg") 0 50% no-repeat;
}

.svg-5g-1-dims {
  width: 33px;
  height: 33px;
}

.svg-5g-2 {
  background: url("/images/sprite.css-cd0f9dd5.svg") 11.11111111111111% 50% no-repeat;
}

.svg-5g-2-dims {
  width: 33px;
  height: 33px;
}

.svg-5g-3 {
  background: url("/images/sprite.css-cd0f9dd5.svg") 22.22222222222222% 50% no-repeat;
}

.svg-5g-3-dims {
  width: 33px;
  height: 33px;
}

.svg-5g-4 {
  background: url("/images/sprite.css-cd0f9dd5.svg") 33.333333333333336% 50% no-repeat;
}

.svg-5g-4-dims {
  width: 33px;
  height: 33px;
}

.svg-bluetooth {
  background: url("/images/sprite.css-cd0f9dd5.svg") 44.44444444444444% 50% no-repeat;
}

.svg-bluetooth-dims {
  width: 33px;
  height: 33px;
}

.svg-browser {
  background: url("/images/sprite.css-cd0f9dd5.svg") 55.55555555555556% 0 no-repeat;
}

.svg-browser-dims {
  width: 33px;
  height: 33px;
}

.svg-calendar {
  background: url("/images/sprite.css-cd0f9dd5.svg") 55.55555555555556% 12.5% no-repeat;
}

.svg-calendar-dims {
  width: 33px;
  height: 33px;
}

.svg-check {
  background: url("/images/sprite.css-cd0f9dd5.svg") 55.55555555555556% 25% no-repeat;
}

.svg-check-dims {
  width: 33px;
  height: 33px;
}

.svg-cross {
  background: url("/images/sprite.css-cd0f9dd5.svg") 55.55555555555556% 37.5% no-repeat;
}

.svg-cross-dims {
  width: 33px;
  height: 33px;
}

.svg-down-0 {
  background: url("/images/sprite.css-cd0f9dd5.svg") 55.55555555555556% 50% no-repeat;
}

.svg-down-0-dims {
  width: 33px;
  height: 33px;
}

.svg-down-1 {
  background: url("/images/sprite.css-cd0f9dd5.svg") 0 62.5% no-repeat;
}

.svg-down-1-dims {
  width: 33px;
  height: 33px;
}

.svg-down-2 {
  background: url("/images/sprite.css-cd0f9dd5.svg") 11.11111111111111% 62.5% no-repeat;
}

.svg-down-2-dims {
  width: 33px;
  height: 33px;
}

.svg-down-3 {
  background: url("/images/sprite.css-cd0f9dd5.svg") 22.22222222222222% 62.5% no-repeat;
}

.svg-down-3-dims {
  width: 33px;
  height: 33px;
}

.svg-down-4 {
  background: url("/images/sprite.css-cd0f9dd5.svg") 33.333333333333336% 62.5% no-repeat;
}

.svg-down-4-dims {
  width: 33px;
  height: 33px;
}

.svg-empty {
  background: url("/images/sprite.css-cd0f9dd5.svg") 44.44444444444444% 62.5% no-repeat;
}

.svg-empty-dims {
  width: 33px;
  height: 33px;
}

.svg-ethernet {
  background: url("/images/sprite.css-cd0f9dd5.svg") 55.55555555555556% 62.5% no-repeat;
}

.svg-ethernet-dims {
  width: 33px;
  height: 33px;
}

.svg-history {
  background: url("/images/sprite.css-cd0f9dd5.svg") 66.66666666666667% 0 no-repeat;
}

.svg-history-dims {
  width: 33px;
  height: 33px;
}

.svg-home {
  background: url("/images/sprite.css-cd0f9dd5.svg") 66.66666666666667% 12.5% no-repeat;
}

.svg-home-dims {
  width: 33px;
  height: 33px;
}

.svg-map {
  background: url("/images/sprite.css-cd0f9dd5.svg") 66.66666666666667% 25% no-repeat;
}

.svg-map-dims {
  width: 33px;
  height: 33px;
}

.svg-marker {
  background: url("/images/sprite.css-cd0f9dd5.svg") 66.66666666666667% 37.5% no-repeat;
}

.svg-marker-dims {
  width: 33px;
  height: 33px;
}

.svg-marker-line {
  background: url("/images/sprite.css-cd0f9dd5.svg") 66.66666666666667% 50% no-repeat;
}

.svg-marker-line-dims {
  width: 33px;
  height: 33px;
}

.svg-mobile {
  background: url("/images/sprite.css-cd0f9dd5.svg") 66.66666666666667% 62.5% no-repeat;
}

.svg-mobile-dims {
  width: 33px;
  height: 33px;
}

.svg-mobile-1 {
  background: url("/images/sprite.css-cd0f9dd5.svg") 0 75% no-repeat;
}

.svg-mobile-1-dims {
  width: 33px;
  height: 33px;
}

.svg-mobile-2 {
  background: url("/images/sprite.css-cd0f9dd5.svg") 11.11111111111111% 75% no-repeat;
}

.svg-mobile-2-dims {
  width: 33px;
  height: 33px;
}

.svg-mobile-3 {
  background: url("/images/sprite.css-cd0f9dd5.svg") 22.22222222222222% 75% no-repeat;
}

.svg-mobile-3-dims {
  width: 33px;
  height: 33px;
}

.svg-mobile-4 {
  background: url("/images/sprite.css-cd0f9dd5.svg") 33.333333333333336% 75% no-repeat;
}

.svg-mobile-4-dims {
  width: 33px;
  height: 33px;
}

.svg-mobile-all {
  background: url("/images/sprite.css-cd0f9dd5.svg") 44.44444444444444% 75% no-repeat;
}

.svg-mobile-all-dims {
  width: 33px;
  height: 33px;
}

.svg-mobile-none {
  background: url("/images/sprite.css-cd0f9dd5.svg") 55.55555555555556% 75% no-repeat;
}

.svg-mobile-none-dims {
  width: 33px;
  height: 33px;
}

.svg-neutral {
  background: url("/images/sprite.css-cd0f9dd5.svg") 66.66666666666667% 75% no-repeat;
}

.svg-neutral-dims {
  width: 33px;
  height: 33px;
}

.svg-operator {
  background: url("/images/sprite.css-cd0f9dd5.svg") 77.77777777777777% 0 no-repeat;
}

.svg-operator-dims {
  width: 33px;
  height: 33px;
}

.svg-ping-0 {
  background: url("/images/sprite.css-cd0f9dd5.svg") 77.77777777777777% 12.5% no-repeat;
}

.svg-ping-0-dims {
  width: 33px;
  height: 33px;
}

.svg-ping-1 {
  background: url("/images/sprite.css-cd0f9dd5.svg") 77.77777777777777% 25% no-repeat;
}

.svg-ping-1-dims {
  width: 33px;
  height: 33px;
}

.svg-ping-2 {
  background: url("/images/sprite.css-cd0f9dd5.svg") 77.77777777777777% 37.5% no-repeat;
}

.svg-ping-2-dims {
  width: 33px;
  height: 33px;
}

.svg-ping-3 {
  background: url("/images/sprite.css-cd0f9dd5.svg") 77.77777777777777% 50% no-repeat;
}

.svg-ping-3-dims {
  width: 33px;
  height: 33px;
}

.svg-ping-4 {
  background: url("/images/sprite.css-cd0f9dd5.svg") 77.77777777777777% 62.5% no-repeat;
}

.svg-ping-4-dims {
  width: 33px;
  height: 33px;
}

.svg-qoe {
  background: url("/images/sprite.css-cd0f9dd5.svg") 77.77777777777777% 75% no-repeat;
}

.svg-qoe-dims {
  width: 33px;
  height: 33px;
}

.svg-qoe_gaming {
  background: url("/images/sprite.css-cd0f9dd5.svg") 0 87.5% no-repeat;
}

.svg-qoe_gaming-dims {
  width: 33px;
  height: 33px;
}

.svg-qoe_music {
  background: url("/images/sprite.css-cd0f9dd5.svg") 11.11111111111111% 87.5% no-repeat;
}

.svg-qoe_music-dims {
  width: 33px;
  height: 33px;
}

.svg-qoe_photo {
  background: url("/images/sprite.css-cd0f9dd5.svg") 22.22222222222222% 87.5% no-repeat;
}

.svg-qoe_photo-dims {
  width: 33px;
  height: 33px;
}

.svg-qoe_video {
  background: url("/images/sprite.css-cd0f9dd5.svg") 33.333333333333336% 87.5% no-repeat;
}

.svg-qoe_video-dims {
  width: 33px;
  height: 33px;
}

.svg-qoe_voip {
  background: url("/images/sprite.css-cd0f9dd5.svg") 44.44444444444444% 87.5% no-repeat;
}

.svg-qoe_voip-dims {
  width: 33px;
  height: 33px;
}

.svg-statistics {
  background: url("/images/sprite.css-cd0f9dd5.svg") 55.55555555555556% 87.5% no-repeat;
}

.svg-statistics-dims {
  width: 33px;
  height: 33px;
}

.svg-statistics-alt {
  background: url("/images/sprite.css-cd0f9dd5.svg") 66.66666666666667% 87.5% no-repeat;
}

.svg-statistics-alt-dims {
  width: 33px;
  height: 33px;
}

.svg-traffic-light-3 {
  background: url("/images/sprite.css-cd0f9dd5.svg") 77.77777777777777% 87.5% no-repeat;
}

.svg-traffic-light-3-dims {
  width: 33px;
  height: 33px;
}

.svg-traffic-light-1 {
  background: url("/images/sprite.css-cd0f9dd5.svg") 88.88888888888889% 0 no-repeat;
}

.svg-traffic-light-1-dims {
  width: 33px;
  height: 33px;
}

.svg-traffic-light-4 {
  background: url("/images/sprite.css-cd0f9dd5.svg") 88.88888888888889% 12.5% no-repeat;
}

.svg-traffic-light-4-dims {
  width: 33px;
  height: 33px;
}

.svg-traffic-light-2 {
  background: url("/images/sprite.css-cd0f9dd5.svg") 88.88888888888889% 25% no-repeat;
}

.svg-traffic-light-2-dims {
  width: 33px;
  height: 33px;
}

.svg-up-0 {
  background: url("/images/sprite.css-cd0f9dd5.svg") 88.88888888888889% 37.5% no-repeat;
}

.svg-up-0-dims {
  width: 33px;
  height: 33px;
}

.svg-up-1 {
  background: url("/images/sprite.css-cd0f9dd5.svg") 88.88888888888889% 50% no-repeat;
}

.svg-up-1-dims {
  width: 33px;
  height: 33px;
}

.svg-up-2 {
  background: url("/images/sprite.css-cd0f9dd5.svg") 88.88888888888889% 62.5% no-repeat;
}

.svg-up-2-dims {
  width: 33px;
  height: 33px;
}

.svg-up-3 {
  background: url("/images/sprite.css-cd0f9dd5.svg") 88.88888888888889% 75% no-repeat;
}

.svg-up-3-dims {
  width: 33px;
  height: 33px;
}

.svg-up-4 {
  background: url("/images/sprite.css-cd0f9dd5.svg") 88.88888888888889% 87.5% no-repeat;
}

.svg-up-4-dims {
  width: 33px;
  height: 33px;
}

.svg-wlan-none {
  background: url("/images/sprite.css-cd0f9dd5.svg") 0 100% no-repeat;
}

.svg-wlan-none-dims {
  width: 33px;
  height: 33px;
}

.svg-wlan3 {
  background: url("/images/sprite.css-cd0f9dd5.svg") 11.11111111111111% 100% no-repeat;
}

.svg-wlan3-dims {
  width: 33px;
  height: 33px;
}

.svg-wlan3-0 {
  background: url("/images/sprite.css-cd0f9dd5.svg") 22.22222222222222% 100% no-repeat;
}

.svg-wlan3-0-dims {
  width: 33px;
  height: 33px;
}

.svg-wlan3-1 {
  background: url("/images/sprite.css-cd0f9dd5.svg") 33.333333333333336% 100% no-repeat;
}

.svg-wlan3-1-dims {
  width: 33px;
  height: 33px;
}

.svg-wlan3-2 {
  background: url("/images/sprite.css-cd0f9dd5.svg") 44.44444444444444% 100% no-repeat;
}

.svg-wlan3-2-dims {
  width: 33px;
  height: 33px;
}

.svg-wlan3-3 {
  background: url("/images/sprite.css-cd0f9dd5.svg") 55.55555555555556% 100% no-repeat;
}

.svg-wlan3-3-dims {
  width: 33px;
  height: 33px;
}

.svg-wlan4 {
  background: url("/images/sprite.css-cd0f9dd5.svg") 66.66666666666667% 100% no-repeat;
}

.svg-wlan4-dims {
  width: 33px;
  height: 33px;
}

.svg-wlan4-0 {
  background: url("/images/sprite.css-cd0f9dd5.svg") 77.77777777777777% 100% no-repeat;
}

.svg-wlan4-0-dims {
  width: 33px;
  height: 33px;
}

.svg-wlan4-1 {
  background: url("/images/sprite.css-cd0f9dd5.svg") 88.88888888888889% 100% no-repeat;
}

.svg-wlan4-1-dims {
  width: 33px;
  height: 33px;
}

.svg-wlan4-2 {
  background: url("/images/sprite.css-cd0f9dd5.svg") 100% 0 no-repeat;
}

.svg-wlan4-2-dims {
  width: 33px;
  height: 33px;
}

.svg-wlan4-3 {
  background: url("/images/sprite.css-cd0f9dd5.svg") 100% 12.5% no-repeat;
}

.svg-wlan4-3-dims {
  width: 33px;
  height: 33px;
}

.svg-wlan4-4 {
  background: url("/images/sprite.css-cd0f9dd5.svg") 100% 25% no-repeat;
}

.svg-wlan4-4-dims {
  width: 33px;
  height: 33px;
}





/* Sizes */
.svg-icon {
  display: inline-block;
  margin-right: 4px;
}

.svg32 {
  width: 32px;
  height: 32px;
  background-size: 330px 297px !important;
}

.svg16 {
  width: 16px;
  height: 16px;
  background-size: 165px 148.5px !important
}

.svg14 {
  width: 14px;
  height: 14px;
  background-size: 131px 119px !important
}