@include screen-xxs {
  .app-table--default {
    mat-header-row {
      display: none;
    }

    mat-cell,
    mat-footer-cell {
      :not(:only-child):last-child {
        border-left: none;
        justify-content: flex-start !important;
        text-align: left !important;
      }
      &:last-of-type {
        padding-right: 16px;
      }
    }

    .app-table__mobile-label {
      display: inline-block;
      font-weight: 700 !important;
      text-align: left;
    }

    .mat-row {
      &--group-header {
        min-height: rem(40);
        mat-cell:not(.mat-column-groupArrowIndicator) {
          display: none;
        }
        mat-cell.mat-column-groupArrowIndicator {
          display: flex;
          flex: 1;
          justify-content: space-between;
          padding: 0 16px;
          position: static;

          mat-icon {
            flex: none;
            padding: 0;
          }
        }
      }
    }
    mat-row:not(.mat-row--group-header) {
      mat-cell.mat-column-groupArrowIndicator {
        display: none;
      }
    }
    mat-row,
    mat-footer-row {
      flex-direction: column;
      align-items: start;
      height: auto !important;
      padding: 0;
    }
    mat-cell,
    mat-footer-cell {
      min-height: rem(40);
      border-bottom: none;

      &:first-of-type {
        border-top: 1px solid $color-border;
        padding-left: 16px;
      }

      *:not(.svg-icon) {
        flex: 0 0 50%;
        justify-content: flex-start !important;
      }

      .svg-icon + span {
        flex: 1;
      }
    }

    .mat-row--hidden {
      height: 0 !important;
    }

    .mat-row--visible:has(+ :not(.mat-row--visible)) mat-cell {
      border-bottom: none !important;
    }

    .mat-mdc-cell.app-cell {
      flex: auto;
      width: auto;
    }

    .mat-column-signal_strength[data-value="-"] {
      display: none;
    }
  }
}
